<div class="form--api">
  <div class="form--api__text">
    <h3><%= t('api_request.title') %></h3>
    <p><%= t('api_request.instruction') %></p>
  </div>

  <p class="form--api__small">
    <%= t('api_request.required_fields') %>.html_safe
  </p>
  <%# Not sure about the actual endpoint of this form - may need to save it to the CMS and also send emails simultaneously %>
  <%= form_tag 'api/create' do %>

    <div class='form--api__group'>
      <%= label_tag 'full_name', t('api_request.full_name').html_safe, class: 'form--api__label' %>
      <%= text_field_tag 'full_name', nil,  autofocus: true , required: true, class: 'form--api__text-input' %>
    </div>

    <div class='form--api__group'>
      <%= label_tag 'email', t('api_request.email').html_safe, class: 'form--api__label' %>
      <%= text_field_tag 'email', nil, required: true, class: 'form--api__text-input' %>
    </div>

    <div class='form--api__group'>
      <%= label_tag 'company', t('api_request.company'), class: 'form--api__label' %>
      <%= text_field_tag 'company', nil, class: 'form--api__text-input' %>
    </div>

    <div class='form--api__group--dropdown'>
      <%= label_tag 'user_type', t('api_request.user_type').html_safe, class: 'form--api__label' %>
      <%# Select goes here - how to pass selected value from custom dropdown to form params? probably need to use JS e.g. localStorage %>
      <%# Also, what values does this take? %>
      <select-dropdown
        :options="['Admin', 'Standard User', 'Superuser', 'Student']"
        :init-message="'Select option'"
      >
    </div>

    <div class="form--api__group--radio">
      <%= label_tag :license, t('api_request.license').html_safe, class: 'form--api__label'  %>
      <div class="form--api__radio">
        <div class="form--api__radio-input">
          <%= radio_button_tag :license, true %>
          <%= label_tag :license, 'Yes', value: true, class: 'form--api__label--radio' %>
        </div>
        <div class="form--api__radio-input">
          <%= radio_button_tag :license, false %>
          <%= label_tag :license, 'No', value: false, class: 'form--api__label--radio' %>
        </div>
      </div>
    </div>
    
    <div class="form--api__group">
      <%= label_tag :reason, t('api_request.reason.question').html_safe, class: 'form--api__label' %>
      <%= text_area_tag :reason, t('api_request.reason.placeholder'), class: 'form--api__text-input--textarea' %>
    </div>

    <div class="form--api__submit"><%= submit_tag t('api_request.submit'), class: 'button--primary' %></div>
  <% end %>


</div>