<div class="form--api">
  <div class="form--api__text">
    <p><%= cms_fragment_render('form_text_heading', @cms_page) %></p>
    <p><%= cms_fragment_render('form_text', @cms_page) %></p>
  </div>

  <small>*Required fields</small>
  <%# Not sure about the actual endpoint of this form %>
  <%= form_tag 'api/create' do %>

    <div class='form-group'>
      <%= label_tag 'full_name', 'Full Name*' %>
      <%= text_field_tag 'full_name', nil,  autofocus: true , required: true %>
    </div>

    <div class='form-group'>
      <%= label_tag 'email', 'Email*' %>
      <%= text_field_tag 'email', nil, required: true %>
    </div>

    <div class='form-group'>
      <%= label_tag 'company', 'Company' %>
      <%= text_field_tag 'company' %>
    </div>

    <div class='form-group'>
      <%# Select goes here %>

    </div>

    <div class="form-group">
      <%= label_tag :license, 'Do you have a license to use the API?*'  %>
      <%= radio_button_tag :license, true %>
      <%= label_tag :license, 'Yes', value: true %>
      <%= radio_button_tag :license, false %>
      <%= label_tag :license, 'No', value: false %>
    </div>
    
    <div class="form-group">
      <%= label_tag :reason, 'Please provide a brief description of how you intend to use the API*' %>
      <%= text_area_tag :reason, 'E.g who is the audience, what type of service is being provided, how will the data be used: visualisation only, download, reposting'  %>
    </div>

    <div><%= submit_tag "Send Request", class: 'button--primary' %></div>
  <% end %>


</div>