<div class="card--stats-overview">
  <% if local_assigns[:flag] %>
    <div class="card__heading">
      <% unless @country.iso_3 == 'ESH' # temporary fix until we can figure out where the flag asset is cached %>
        <i class="card__flag icon--flag-outline" style="background-image:url('<%= flag %>');"></i>
      <% end %>
      <h1 class="card__h1"><%= title %></h1>
    </div>
  <% else %>
    <h1 class="card__h1"><%= title %></h1>
  <% end %>
  <% if local_assigns[:total_wdpa] %>
    <div class="card__section">
      <span class="card__number"><%= total_wdpa %></span>
      <span class="card__subtitle-margined"><%= t('stats.wdpa.total') %></span>
      <% unless local_assigns[:total_pame].nil? %>
        <div class="flex">
          <span class="card__number"><%= total_pame %></span>
          <span class="card__text"><%= t('attributes.pame.with-assessments') %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if local_assigns[:site_id] && local_assigns[:area] %>
    <div class="card__section">
      <span class="card__number"><%= site_id %></span>
      <span class="card__subtitle"><%= t('stats.wdpa.id') %></span>
    </div>
    <div class="card__section-with-border">
      <span class="card__number"><%= area %></span>
      <span class="card__subtitle"><%= t('stats.reported-area') %></span>
    </div>
  <% end %>
  <% if local_assigns[:legend_map] %>
    <div class="card__section">
      <%= render partial: 'partials/charts/chart-legend', locals: { 
        classes: 'chart--legend--map',
        rows: legend_map
      } %>
    </div>
  <% end %>
  <% if local_assigns[:type] && local_assigns[:location]%>
    <div class="card__section">
      <p>
        <span class="card__subtitle"><%= t('stats.type') %></span>
        <span class="card__text"><%= type %></span>
      </p>
      <p>
        <span class="card__subtitle"><%= t('stats.location') %></span>
        <span class="card__text"><%= location %></span>
      </p>
    </div>
  <% end %>
  <% if local_assigns[:external_links] %>
    <div class="card__section">
      <% external_links.each do |link| %>
        <div class="card__external-link">
          <span class="card__external-label">
            <span class="card__external-title"><%= link[:title] %></span>
            <span class="card__external-text"><%= link[:text] %></span>
          </span>
          <a class="card__external-button" href="<%= link[:link] %>" target="_blank" title="<%= link[:button_title] %>">
            <%= t('stats.story_map.link', default: 'Link') %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if local_assigns[:total_oecm] %>
    <div class="card__section">
      <span class="card__number"><%= total_oecm %></span>
      <span class="card__subtitle"><%= t('stats.oecm.title') %></span>
    </div>
  <% end %>
  <% if local_assigns[:total_countries] %>
    <div class="card__section">
      <span class="card__number"><%= total_countries %></span>
      <span class="card__subtitle"><%= t('stats.countries') %></span>
    </div>
  <% end %>
  <% if local_assigns[:chart_point_poly] %>
    <div class="card__section">
      <span class="card__subtitle-margined">Polygons/Points ratio</span>
      <%= render partial: 'partials/charts/chart-row', locals: { rows: chart_point_poly } %>
      <%= render partial: 'partials/charts/chart-legend', locals: { 
        classes: 'chart--legend--points-poly',
        rows: chart_point_poly
      } %>
    </div>
  <% end %>
</div>