<div class="card--stats card--stats--half">
  <h2 class="card__title"><%= t("stats.#{type}-title") %></h2>

  <div class="card__content">
    <div class="card__chart">
      <div class="chart--square">
        
      </div>
    </div>

    <div>
      <span class="card__number-large block"><%= stats[:protected_percentage] %>%</span> <%= t("stats.coverage") %>

      <div>
        <p class="card__stat">
          <span class="card__number block"><%= commaify stats[:protected_km2] %>km<sup>2</sup></span> <%= t("stats.#{type}-protected") %>
        </p>
        <p class="card__stat">
          <span class="card__number block"><%= stats[:total_km2] %>km<sup>2</sup></span> <%= t("stats.#{type}-total") %>
        </p>
      </div>

      <div>
        <% if stats[:protected_national_report] && stats[:national_report_version] %>
          <p class="card__stat">
            <span class="card__number block"><%= stats[:protected_national_report] %>%</span>
            <%= stats[:national_report_version] %><%= t("stats.nr-report-title") %>
          </p>
        <% end %>
        
        <% if stats[:pame_percentage] &&  stats[:pame_km2] %>
          <div class="card__subsection">
            <p class="card__subtitle">PAME</p>

            <p class="card__stat">
              <span class="card__number block"><%= stats[:pame_percentage] %>%</span> <%= t("stats.pame.with-assessments") %>
            </p>
            <p class="card__stat">
              <span class="card__number block"><%= stats[:pame_km2] %>km<sup>2</sup></span> <%= t("stats.pame.areas-assessed") %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>