<div class="card--stats">
  <h2><%= t('stats.designations.title') %></h2>

  <div>
    <chart-row-stacked 
      :rows="<%= @designation_percentages %>"
      theme="designation"
    >
    </chart-row-stacked>
  </div>
  
  <div class="flex flex-h-between">
    <% designations.each do |designation| %>
      <div class="card__third">
        <div class="flex flex-h-between flex-v-center">
          <h3><%= designation[:title] %></h3>
          <span><%= designation[:total] %></span>
        </div>

        <% if designation[:has_jurisdiction] %>
          <ul class="list--underline">
            <% designation[:jurisdictions].each do |jurisdiction| %>
              <li class="list__li flex flex-h-between">
                <span><%= jurisdiction["designation_name"] %></span>
                <%#= link_to jurisdiction["designation_name"], search_url("#{location.class.name.downcase}" => location.name, designation: jurisdiction["designation_name"], main: location.class.name.downcase.to_sym) %>
                <span><%= jurisdiction["count"] %></span>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>