<div class="card--stats-affliations">
  <h2 class="card__h2"><%= t('stats.external.title') %></h2>

  <ul class="card__logos">
    <% external_links.each do |link| %>
      <li class="card__logo">
        <%= image_tag link[:image_url], alt: link[:image_alt], class: 'card__logo-image' %>

        <% if link[:affiliation] == 'greenlist' %>
          <p><%= t('stats.green-list.intro') %>
          <p class="card__subtitle"><%= t('stats.green-list.type') %></p>
          <span><%= link[:type] %></span>

          <% if link[:date] %>
            <p class="card__subtitle"><%= t('stats.green-list.date') %></p>
            <span><%= link[:date] %></span>
          <% end %>
        <% end %>
  
        <%= link_to t('global.button.more'), link[:link_url], title: link[:link_title], target: '_blank', class: 'card__button' %>
      </li>
    <% end %>
  </ul>
</div>