<div class="card--stats">
  <h2><%= t('stats.designations.title') %></h2>

  <div>
    <chart-row-stacked 
      :rows="<%= @designation_percentages %>"
      theme="designation"
    >
    </chart-row-stacked>
  </div>
  
  <div class="chart--legend--designation">
    <% designations.each do |designation| %>
      <div class="chart__legend-group">
        <div class="chart__legend-item">
          <span class="chart__legend-key"></span>
          <h3 class="chart__legend-title"><%= designation[:title] %></h3>
          <span class="chart__legend-total"><%= designation[:total] %></span>
        </div>

        <% if designation[:has_jurisdiction] %>
          <ul class="list--underline">
            <% designation[:jurisdictions].each do |jurisdiction| %>
              <li class="list__li flex flex-v-start">
                <span><%= jurisdiction["designation_name"] %></span>
                <span class="list__right"><%= jurisdiction["count"] %></span>
                <%= link_to '', '/', title: jurisdiction["designation_name"], class: 'list__a' %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>