<div class="card--stats-governance card--stats-half">
  <h2 class="card__h2"><%= t('stats.governance.title') %></h2>

  <div>
    Chart
    <% governance_types.each do |type| %>
      <p><%= type["percentage"].to_f.round(2) %>%</p>
    <% end %>
  </div>

  <ul class="list--underline">
    <% governance_types.each do |type| %>
      <li class="list__li">
        <i class="list__icon"></i>
        <span class="list__title"><%= type['governance_name'] %></span>
        <span class="list__value"><%= type['count'] %></span>
        <%= link_to 'View list', '', title: '', class: 'list__right list__a' %>
      </li>
    <% end %>
  </ul>
</div>
  
<%#= link_to row["governance_name"], search_url("#{location.class.name.downcase}" => location.name, governance: row["governance_name"], main: location.class.name.downcase.to_sym) %>