<span class="card__stat-number"><%= total_wdpa %></span>
<span class="card__stat-text">Total Protected Areas</span>

<% unless local_assigns[:total_pame].nil? %>
  <span><%= total_pame %></span>
  <span>With management effectiveness evaluations</span>
<% end %>

<span class="card__stat-number">4<%= total_oecm %></span>
<span class="card__stat-text">Other effective area-based conservation measures</span>
<span>Polygons/Points ratio</span>
<span class="card__stat-text">Polygons <%= total_polygons_percentage %>%</span>
<span>Points <%= total_points_percentage %>%</span>