<div class="card--stats-iucn card--stats-half">
  <h2 class="card__h2"><%= t('stats.iucn-categories.title') %></h2>

  <am-chart-pie
    class="am-chart--pie--iucn"
    :dataset="<%= @iucn_categories_chart %>"
    :doughnut="true"
  ></am-chart-pie>

  <ul class="list--underline">
    <% iucn_categories.each do |category| %>
      <li class="list__li">
        <i class="list__icon"></i>
        <span class="list__title"><%= category['iucn_category_name'] %></span>
        <span class="list__value"><%= category['count'] %>, <%= category['percentage'].to_f.round(2) %>%</span>
        <%= link_to 'View list', '', title: '', class: 'list__right list__a' %>
      </li>
    <% end %>
  </ul>
</div>

<!-- search_url("#{location.class.name.downcase}" => location.name, iucn_category: row["iucn_category_name"], main: location.class.name.downcase.to_sym) -->