<a href="<%= country_path(iso: model.iso) %>"><%= cover model %></a>
<div class="inner-result">

  <h3>
    <a href="<%= country_path(iso: model.iso) %>"><%= model.name %></a>
    <small><%= commaify model.protected_areas.count %> Protected Areas in this country</small>
  </h3>

  <p>
    <%= StatisticPresenter.new(model).percentage_total_pa_cover.round(2) %> % covered by Protected Areas
  </p>
</div>
