<a href="<%= country_path(iso: model.iso) %>"><%= cover model %></a>
<div class="inner-result">

  <h3>
    <a href="<%= country_path(iso: model.iso) %>"><%= model.name %></a>
    <small><%= commaify model.protected_areas.count %> Protected Areas in this country</small>
  </h3>

  <p>
    <% stats = StatisticPresenter.new(model) %>
    <%= (stats.percentage_pa_land_cover + stats.percentage_pa_marine_cover).round(2) %> % covered by Protected Areas
  </p>
</div>
