<a href="/<%= model.slug %>">
  <%= cover model %>
</a>

<div class="inner-result">
  <h3><a href='/<%= model.slug %>' title="<%= model.name %>"><%= model.name %></a>  <small title="<%= model.designation.name %>"><%= model.designation.name %></small></h3>
  <% model.countries.select(:iso, :name, :region_id).each do |country| %>
    <p><a href="<%= country_path(iso: country.iso) %>"><%= country.name %>, <%= country.region.try(:name) %></a></p>
  <% end %>
</div>
