<a href="/<%= model.wdpa_id %>">
  <%= cover model %>
</a>

<div class="inner-result">
  <h3><a href='/<%= model.wdpa_id %>' title="<%= model.name %>"><%= model.name %></a>  <small title="<%= model.designation.name %>"><%= model.designation.name %></small></h3>
  <% model.countries_for_index.each do |country| %>
    <p><a href="<%= country_path(iso: country.iso_3) %>"><%= country.name %>, <%= country.region_for_index.try(:name) %></a></p>
  <% end %>
</div>
