<ul>
  <% protected_areas.each do |protected_area| %>
    <li class='result'>
      <icon></icon>
      <div>
        <h3><a href='/<%= protected_area.slug %>'><%= protected_area.name %></a> | <small><%= protected_area.designation.name %></small></h3>
        <p>
          <% protected_area.countries.each do |country| %>
            <a href="/search?q=<%= country.name %>"><%= country.name %></a>,
            <a href="/search?q=<%= country.region.try(:name) %>"><%= country.region.try(:name) %></a>
            |
          <% end %>
          <icon></icon>
          <%= protected_area.marine ? 'Marine' : 'Terrestrial' %> area
        </p>
      </div>
    </li>
  <% end %>
</ul>
