<%= content_for :page_title, search_title(params, true) %>

<div class="container--fullscreen container--push-bottom">

  <% if @search.results.count > 0 %>
    <div class="js-download-btn hero__top u-center">
      <h1 class="hero__title--base hero__title"><%= search_title(params) %></h1>
      <button class="tooltip__trigger u-right js-trigger link-with-icon--bold link-with-icon">
        <i class="link-with-icon__icon fa fa-download"></i>Download this dataset
        <%= download_dropdown('search', 'search', [:csv, :kml, :shp]) %>
      </button>
    </div>

    <aside class="filter-bar">
      <div class="filter-bar__inner">
        <header class="header-with-delimiter filter-bar__header">
          <h2>
            Filters
           <%= clear_filters_link(params) %>
          </h2>
        </header>
        <%= render partial: 'facets', locals: {aggregations: @search.aggregations} %>
      </div>

      <%= link_to("", search_path(params), class: "filter-bar__header-icon grid-icon") %>
      <%= link_to("", search_map_path(params), class: "filter-bar__header-icon map-icon") %>
    </aside>
  <% end %>

  <% if current_page?(controller: 'search', action: 'map') %>
    <div class="search-map"
      id="map"
      data-url="<%= api_v3_search_points_url(params) %>">
      <div class="map-disclaimer">
        The designations employed and the presentation of material on this map do not
        imply the expression of any opinion whatsoever on the part of the Secretariat
        of the United Nations concerning the legal status of any country, territory,
        city or area or of its authorities, or concerning the delimitation of its
        frontiers or boundaries.
      </div>
    </div>
  <% else %>
    <div class="<%= @search.results.count.zero? ? 'fullscreen-message' : 'search-grid' %>">
      <%= render partial: 'grid' %>
    </div>
  <% end %>
</div>
