<div class="bg-img">
  <main>
    <h2>Search for protected areas, countries or regions</h2>
    <section class="search-bar">
      <%= render 'shared/search_form', query: @query %>
    </section>

    <% if @query %>
      <section class="search-results">
        <h4>Showing <%= @protected_areas_count %> <%= 'result'.pluralize @protected_areas_count %> for "<%= @query %>"</h4>
        <%= render 'search_results', protected_areas: @protected_areas %>
      </section>
    <% end %>

    <ul class="results-pages">
      <% (1..@page_count || 0).each do |page| %>
        <li>
          <%= link_to_if page != @page_number, page, search_path(page: page, q: @query) %>
        </li>
      <% end %>
    </ul>
  </main>
</div>
