<% content_for :header do %>
  <nav class="sub-nav search-sub-nav">
    <ul>
      <li>
        <h1><%= @query %></h1>
        <h2><strong><%= @search.results.count %></strong> Protected Areas</h2>
      </li>
      <% if @search.results.count > 0 %>
        <li class="right"><%= render partial: 'shared/download_data_set', locals: {download_type: 'search', custom_classes: 'btn-search-download', item_id: 'search', image: 'icon-download-black.png'} %></li>
      <% end %>
    </ul>
  </nav>
<% end %>

<% if @search.results.count > 0 %>
  <aside class="map-filters search-map-filters">
    <header>
      <span>Results</span>
      <ul>
        <li class="btn-switch-grid <%= "active" if current_page?(action: 'index') %>">
          <%= link_to(search_path(params)) do %>
            <%= image_tag('icon-grid-grey.png', size: '20') %>
          <% end %>
        </li>

        <li class="btn-switch-map <%= "active" if current_page?(action: 'map') %>">
          <%= link_to(search_map_path(params)) do %>
            <%= image_tag('icon-map-grey.png', size: '20') %>
          <% end %>
        </li>
      </ul>
    </header>
    <%= render partial: 'facets', locals: {facets: @search.aggregations} %>
  </aside>
<% end %>

<% if current_page?(controller: 'search', action: 'map') %>
  <div class="search-map"
    id="map"
    data-url="<%= api_v3_search_points_url(params) %>">
    <div class="map-disclaimer">
      The boundaries and names shown, and the designations used on this
      map do not imply official endorsement or acceptance by the United
      Nations or IUCN.
    </div>
  </div>
<% else %>
  <div class="search-grid <%= 'no-results' if @search.results.count.zero? %>">
    <%= render partial: 'grid' %>
  </div>
<% end %>
</div>

