<div class="bg-img">
  <main>
    <h2>Search for protected areas, countries or regions</h2>
    <section class="search-bar">
      <%= render 'shared/search_form', query: @query %>
    </section>

    <% if @query %>
      <aside class="search-filters">
        <h4>Filter Your Results</h4>

        <%= render 'facets', facets: @search.aggregations %>
      </aside>

      <section class="search-results">
        <h4>
          Showing <%= @search.results.count %> <%= 'result'.pluralize @search.results.count %> for "<%= @query %>"
        </h4>

        <%= render 'type_facets' %>

        <ul>
          <%= render partial: 'search_result', collection: @search.results %>
        </ul>
      </section>
    <% end %>
  </main>
</div>
