<div class="bg-img">
  <main>
    <h2>Search for protected areas, countries or regions</h2>
    <section class="search-bar">
      <%= render 'shared/search_form', query: @query %>
    </section>

    <% if @query %>
      <section class="search-results">
        <h4>Showing <%= @protected_areas.length %> <%= 'result'.pluralize @protected_areas.length %> for "<%= @query %>"</h4>
        <%= render 'search_results', protected_areas: @protected_areas %>
      </section>
    <% end %>

  </main>
</div>
