<article>
  <h3>Protected Areas Value</h3>
  <div class="inset-statistic-large">
    <span class="extra-large"><%= commaify(presenter.pa_area) %> <small>km&sup2;</small></span>
    <div class="text-holder">
      <%= commaify(presenter.pa_land_area) %> Km&sup2; Land - <%= commaify(presenter.pa_marine_area) %> Km&sup2; Marine<br>
      <%= presenter.percentage_pa_cover %>% Protected
    </div>
  </div>

  <table class="centered">
    <tbody>
      <tr>
        <td>
          <div class="viz" data-colour="#2B3146" data-value="<%= presenter.percentage_pa_land_cover %>"></div>
          <div class="viz-label">
            <p><span class="big"><%= presenter.percentage_pa_land_cover %></span><span class="small">%</span></p>
            <label>Land Area Protected</label>
          </div>
        </td>
        <td>
          <div class="viz" data-colour="#2B3146" data-value="<%= presenter.percentage_pa_marine_cover %>"></div>
          <div class="viz-label">
            <p><span class="big"><%= presenter.percentage_pa_marine_cover %></span><span class="small">%</span></p>
            <label>Marine Area Protected</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= commaify(presenter.land_area) %></strong> Km&sup2; Land Area
        </td>
        <td>
          <strong><%= commaify(presenter.marine_area) %></strong> Km&sup2; Marine Area
        </td>
      </tr>
      <tr>
        <td>
          <strong><%= commaify(presenter.pa_land_area) %></strong> Km&sup2; Protected
        </td>
        <td>
          <strong><%= commaify(presenter.pa_marine_area) %></strong> Km&sup2; Protected
        </td>
      </tr>
    </tbody>
  </table>
</article>

