<article class="conservation-statistics">
  <h3>Conservation Statistics</h3>

  <hr>

  <div class="inset-statistic">
    <span class="large"><%= commaify country.protected_areas.count %></span>
    <div class="text-holder">
      Protected Areas
    </div>
  </div>

  <div class="inset-statistic">
    <span class="large"><%= presenter.percentage_pa_cover %>%</span>
    <div class="text-holder">
      Protected
    </div>
  </div>

  <hr>

  <p>
    <strong><%= commaify country.protected_areas_with_iucn_categories.count %></strong>
      Protected Areas have an IUCN Category. IUCN has defined a series of
        six protected area management categories, based on primary
        management objectives.
  </p>

    <% if country.protected_areas_with_iucn_categories.count > 0 %>
      <table>
        <tbody>
          <% country.protected_areas_per_iucn_category.each do |group| %>
            <tr>
              <td> <strong><%= group['iucn_category'] %></strong> </td>
              <td class="right-aligned"> (<%= group['count'] %>) </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
</article>

<% if country.designations.count > 0 %>
  <article>
    <hr>
    <h3>Designations</h3>
    <table>
      <tbody>
        <% country.protected_areas_per_designation.each do |group| %>
          <tr>
            <td> <strong><%= group['designation'] %></strong> </td>
            <td class="right-aligned"> (<%= group['count'] %>) </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>

<% if @random_protected_areas %>
  <article>
    <hr>
    <h3>Protected Areas in <%= country.name %></h3>
    <ul class="nearest-protected-areas">
      <% @random_protected_areas.each do |protected_area| %>
        <li>
          <a href="/<%= protected_area.slug %>">
            <%= protected_area_cover(protected_area) %>
          </a>

          <h4><a href="/<%= protected_area.slug %>"><%= protected_area.name %></a></h4>
        </li>
      <% end %>
    </ul>
  </article>
<% end %>

