<tabs
  class="tabs--hero"
  ga-id="<%= ga_id %>"
  preselected-tab="<%= params[:tab] %>"
  :tab-triggers="<%= tabs_json %>"
>
  <template slot-scope="slotProps">
    <%# If the senario are more complicated then you will need to render each tab by yourself so you have more freedom to change content in each tab %>
    <% tabs_list.each do |tab|%>
      <% @tab_element_id = tab[:id].to_json %>
      <% @thematic_area_database_tab_cms_content = cms_fragment_render(tab[:content_id]) %>
      <tab-target :id=<%= @tab_element_id %> :selected-id="slotProps.selectedId">
        <section class="container--medium">
          <%= @thematic_area_database_tab_cms_content %>
        </section>
        <% if tab[:show_pas_search] %>
          <section class="spacer-large--bottom">
            <%= render partial: "partials/search/protected-areas", locals: { config: config_search } %>
          </section>
        <% end %>
        <% if tab[:show_wdpca_map] %>
          <section class="map-section">
            <%= render partial: "partials/maps/main", locals: {
              map: map,
              map_options: local_assigns.has_key?(:map_options) ? map_options : nil
            } %>
          </section>
        <% end %>
      </tab-target>
    <% end %>
  </template>
</tabs>