.page-header
  %h2 CTA

%p
  %strong Class:
  = @cta.klass
%p
  %strong Title:
  = @cta.title
%p
  %strong Summary:
  = @cta.summary
%p
  %strong Url:
  = @cta.url
%p
  %strong Updated:
  = @cta.updated.to_s

= link_to 'CTAs', admin_ctas_path, :class => 'btn btn-primary'
