<div class="template--marine">
  <header>
    <h1><span>Explore the Worlds</span>Marine Protected Areas</h1>
    <p>
      Lorem ipsum
    </p>
  </header>

  <div class="v-marine container--push-bottom">
    
    <div class="section--block-color">
      <section class="template--marine__section container--profile">
        <%= render partial: "marine/sections/coverage_map" %>
      </section>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/national_waters" %>
    </section>

    <div class="section--block-color">
      <section class="template--marine__section container--profile">
        <%= render partial: "marine/sections/size_distribution" %>
      </section>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/ecoregions" %>
    </section>
    
    <div class="section--block-color">
      <section class="template--marine__section container--profile">
        <%= render partial: "marine/sections/growth" %>
      </section>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/target" %>
    </section>
    
    <footer>
      <%#= render partial: "marine/sections/footer" %>
    </footer>

  </div>
</div>