<%= content_for :twitter_card, "summary_large_image" %>
<%= content_for :social_title, "Explore the World's Marine Protected Areas" %>
<%= content_for :social_description, "Over 70% of the surface of Earth is ocean, comprised of highly diverse ecosystems, and providing a wide range of marine ecosystem services that support human society, health and the economy. This website presents the most recent official coverage statistics for marine protected areas, updated monthly from the World Database on Protected Areas." %>
<%= content_for :social_image, image_url('social-marine.png') %>
<%= content_for :social_image_alt, "A map of the world with highlighted areas that represent protected areas. The following statistics are shown: there are #{@marine_statistics['total_marine_protected_areas']} marine protected areas, #{@marine_statistics['total_ocean_pa_coverage_percentage']} of the ocean is covered by protected areas and the total area protected is 23,036,078km² These statistics are for 2017." %>

<%= render partial: "./partials/bars/topbar-secondary", locals: { download_options: @download_options } %>

<%= render partial: "./layouts/partials/hero-thematic", locals: {
  button_text: t('thematic_area.marine.hero.button_text'),
  button_url: search_areas_path(filters: @filters),
  classes: @cms_page.slug,
  hero_image: cms_fragment_render(:theme_image, @cms_page),
  hero_small_text: cms_fragment_render(:hero_small_text, @cms_page),
  hero_small_text_url: cms_fragment_render(:hero_small_text_url, @cms_page),
  title: @cms_page.label,
  stat_pas_km: @pas_km,
  stat_pas_percent: @pas_percent,
  stat_pas_total: @pas_total,
  stat_text_1: t('thematic_area.marine.hero.stat_text_1'),
  stat_text_2: t('thematic_area.marine.hero.stat_text_2'),
  stat_text_3: t('thematic_area.marine.hero.stat_text_3'),
  summary: cms_fragment_render(:summary, @cms_page)
} %>

<section class="container--medium">
  <h2><%= cms_fragment_render(:section_distribution_title, @cms_page) %></h2>
  <div><%= cms_fragment_render(:section_distribution_content, @cms_page) %></div>
</section>

<%= render partial: "marine/sections/ocean", locals: {
  national: marine_stats('national_waters_percentage'),
  national_coverage: marine_stats('national_waters_pa_coverage_percentage'),
  high_seas: marine_stats('global_ocean_percentage'),
  high_seas_coverage: marine_stats('high_seas_pa_coverage_percentage')
} %>

<%= render partial: "marine/sections/coverage", locals: {
  cms_page: @cms_page
} %>

<%= render partial: "marine/sections/national", locals: {
    countries: @top_marine_coverage_countries
  }
%>

<section class="container--medium">
  <h2><%= cms_fragment_render(:section_size_title, @cms_page) %></h2>
  <div><%= cms_fragment_render(:section_size_content, @cms_page) %></div>
</section>

<%= render partial: "marine/sections/size_growth", locals: {
  regionsTopCountries: @regionsTopCountries,
} %>

<%= render partial: "marine/sections/coverage_growth", locals: {
  regionCoverage: @regionCoverage,
} %>

<%= render partial: "marine/sections/map" %>

<section class="container">
  <%= render partial: "partials/cards/sites", locals: { 
    cards: @marineSites, 
    title: "#{t('global.area-types.wdpa')} (#{@marineSitesTotal})",
    url: @marineViewAllUrl
  } %>
</section>

<section class="section-padding">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>
