<%= render partial: "./partials/bars/topbar-secondary", locals: { download_options: @download_options } %>

<%= render partial: "./layouts/partials/hero-thematic", locals: {
  button_text: t('thematic_area.marine.hero.button_text'),
  button_url: search_areas_path(filters: @filters),
  classes: @cms_page.slug,
  image: cms_fragment_render(:image, @cms_page),
  hero_small_text: cms_fragment_render(:hero_small_text, @cms_page),
  hero_small_text_url: cms_fragment_render(:hero_small_text_url, @cms_page),
  title: @cms_page.label,
  stat_pas_km: @pas_km,
  stat_pas_percent: @pas_percent,
  stat_pas_total: @pas_total,
  stat_text_1: t('thematic_area.marine.hero.stat_text_1'),
  stat_text_2: t('thematic_area.marine.hero.stat_text_2'),
  stat_text_3: t('thematic_area.marine.hero.stat_text_3'),
  summary: cms_fragment_render(:summary, @cms_page)
} %>

<section class="container--medium spacer-small--top">
  <h2><%= cms_fragment_render(:section_distribution_title, @cms_page) %></h2>
  <div><%= cms_fragment_render(:section_distribution_content, @cms_page) %></div>
</section>

<%= render partial: "partials/charts/chart-row-pa", locals: {
  charts: [
    {
      coverage: marine_stats('national_waters_pa_coverage_percentage'),
      theme: 'theme--purple',
      title: t('thematic_area.marine.ocean.national-title'),
      total: marine_stats('national_waters_percentage')
    },
    {
      coverage: marine_stats('high_seas_pa_coverage_percentage'),
      theme: 'theme--blue',
      title: t('thematic_area.marine.ocean.high-title'),
      total: marine_stats('global_ocean_percentage')
    }
  ],
  content: cms_fragment_render(:section_ocean_content, @cms_page),
  title: cms_fragment_render(:section_ocean_title, @cms_page)
} %>

<%= render partial: "partials/charts/chart-coverage-growth", locals: {
  content: cms_fragment_render(:section_coverage_content, @cms_page),
  chart_data: @protectedAreasGrowth,
  title: cms_fragment_render(:section_coverage_title, @cms_page)
} %>

<section class="container--medium">
  <h2><%= cms_fragment_render(:section_size_title, @cms_page) %></h2>
  <div><%= cms_fragment_render(:section_size_content, @cms_page) %></div>
</section>

<%= render partial: "partials/charts/chart-top-ten", locals: {
  content: cms_fragment_render(:section_size_growth_content, @cms_page),
  regionsTopCountries: @regionsTopCountries,
  title: cms_fragment_render(:section_size_growth_title, @cms_page)
} %>

<%= render partial: "marine/sections/coverage_growth", locals: {
  regionCoverage: @regionCoverage,
} %>

<section class="map-section">
  <%= render partial: "partials/maps/main", locals: {
    map: @map
  } %>
</section>

<section class="container spacer-small--top">
  <%= render partial: "partials/cards/sites", locals: { 
    cards: @marineSites, 
    title: "#{t('global.area-types.wdpa')} (#{@marineSitesTotal})",
    url: @marineViewAllUrl
  } %>
</section>

<section class="spacer-small--top spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>
