<div class="template--marine">
  <header>
    <h1><span>Explore the Worlds</span>Marine Protected Areas</h1>
    <p>
      Lorem ipsum
    </p>
  </header>

  <div class="v-marine container--push-bottom">
    
    <div class="section--block-color">
      <section class="template--marine__section container--profile">
        <%= render partial: "marine/sections/coverage_map" %>
      </section>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/national_waters" %>
    </section>

    <div class="section--block-color">
      <section class="template--marine__section template--marine__section--size container--profile">
        <%= render partial: "marine/sections/size_distribution" %>
      </section>
    </div>

    <div class="flex-row justify-content-end u-height-0">
      <div class="fact--circle fact--marine u-up-halfway">
        <div class="fact__content flex-row align-items-center">
          <p>2/3rds of all marine ecoregions have less than 10% of their area protected</p>
        </div>
      </div>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/ecoregions" %>
    </section>
    
    <div class="section--block-color">
      <section class="template--marine__section container--profile">
        <%= render partial: "marine/sections/growth" %>
      </section>
    </div>

    <section class="template--marine__section container--profile">
      <%= render partial: "marine/sections/target" %>
    </section>
    
    <footer>
      <%#= render partial: "marine/sections/footer" %>
    </footer>

  </div>
</div>