<div class="v-marine template--marine">
  
  <%= render partial: "marine/sections/header" %>

  <div class="container--push-bottom">
    
    <div id="coverage" class="section--block-color">
      <section class="t--marine__section u-no-padding--bottom">
        <%= render partial: "marine/sections/coverage_map" %>
      </section>
    </div>

    <section id="distribution" class="t--marine__section container--profile">
      <%= render partial: "marine/sections/distribution" %>
    </section>

    <div id="growth" class="section--block-color">
      <section class="t--marine__section container--profile">
        <%= render partial: "marine/sections/growth" %>
      </section>
    </div>

    <section id="national" class="t--marine__section container--profile">
      <%= render partial: "marine/sections/national" %>
    </section>

    <div id="size-distribution" class="section--block-color">
      <section class="t--marine__section t--marine__section--fact-bottom container--profile">
        <%= render partial: "marine/sections/size_distribution" %>
      </section>
    </div>

    <div class="flex-row justify-content-end u-height-0 container--profile">
      <div class="fact--circle fact--marine u-up-halfway">
        <div class="fact__content flex-row align-items-center">
          <p>50% of all marine provinces have over 10% of their marine area protected</p>
        </div>
      </div>
    </div>

    <section id="ecoregions" class="t--marine__section t--marine__section--fact-top container--profile">
      <%= render partial: "marine/sections/ecoregions" %>
    </section>
    
    <div id="pledges" class="section--block-color">
      <section class="t--marine__section container--profile">
        <%= render partial: "marine/sections/pledges" %>
      </section>
    </div>

    <section id="designations" class="t--marine__section container--profile">
      <%= render partial: "marine/sections/designations" %>
    </section>
    
    <div id="greenlist" class="section--block-color">
      <section class="t--marine__section container--profile">
        <%= render partial: "marine/sections/greenlist" %>
      </section>
    </div>
    
    <footer class="t--marine__section container--profile">
      <%= render partial: "marine/sections/footer" %>
    </footer>

  </div>
</div>