<div id="marine-stats" class="card--stats">
  <div class="card__header header">
    <img class="header__image" src="<%= asset_url "marine-stats.png" %>"/>
    <h3 class="header__text">Area marine</h3>
  </div>

  <div class="card__body">
    <div class="card__column-1 card__cube--marine">
      <div data-fill-value="<%= @presenter.percentage_pa_marine_cover %>" class="cube__inner card__cube-inner"></div>
    </div>

    <div class="card__column-2">
      <div class="card__row">
        <p class="card__element">
          <span class="test card__number--xxlarge-marine">
            <%= @presenter.percentage_pa_marine_cover.round(2) %>%
          </span>
          coverage
        </p>
      </div>

      <div class="card__row">
        <p class="card__element">
          <span class="card__number--medium-marine">
            <%= commaify @presenter.pa_marine_area.round(0) %> km<sup>2</sup>
          </span>
          Marine Area Protected
        </p>
        <p class="card__element">
          <span class="card__number--medium-marine">
            <%= commaify @presenter.marine_area.round(0) %> km<sup>2</sup>
          </span>
          Total Marine Area
        </p>

        <% unless is_regional_page(controller_name) %>
          <p class="card__element">
            <span class="card__number--medium-marine">
              <%= commaify @presenter.percentage_nr_marine_cover %>%
            </span>
            <%= @presenter.nr_version %>th National Report Coverage
          </p>
        <% end %>
      </div>

      <% if has_pame_statistics_for(@presenter, :marine) %>
        <div class="card__row">
          <p class="card__element">
            <span class="card__number--medium-marine-light">
              <i class="fa fa-level-down u-text-muted"></i>
              <%= @presenter.pame_statistic.pame_percentage_pa_marine_cover.round(2) %>%
            </span>
            with management effectiveness evaluation
          </p>
          <p class="card__element">
            <span class="card__number--medium-marine-light">
              <%= commaify @presenter.pame_statistic.pame_pa_marine_area %> km<sup>2</sup>
            </span>
            Area Assessed
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
