.page-header
  = link_to 'New Pame Evaluation Upload', new_admin_pame_evaluation_path, :class => 'btn btn-default pull-right'
  %h2= 'Pame Evaluation Uploads'

= will_paginate @pame_evaluations, :theme => 'comfy'

%table.table.table-hover.table-bordered.wrap
  %tr
    %th.wrap Title (Max characters: 75)
    %th.wrap Description (Max characters: 150)
    %th Url
    %th Published
    %th
  - @pame_evaluations.each do |pame_evaluation|
    %tr
      %td.wrap= pame_evaluation.protected_area.name || pame_evaluation.name
      %td.wrap= pame_evaluation.id
      %td= pame_evaluation.wdpa_id
      %td= pame_evaluation.restricted
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_pame_evaluation_path(pame_evaluation), :class => 'btn btn-default'
          = link_to 'Delete', admin_pame_evaluation_path(pame_evaluation), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= will_paginate @pame_evaluations, :theme => 'comfy'