<section class="map-section">
  <div class="map--main">
    <v-map-header title="<%= map[:title] %>"></v-map-header>
    <v-map></v-map>
    <v-map-filters
      :disclaimer="<%= map[:disclaimer].to_json %>"
      :dropdown-label="<%= map[:dropdown_label].to_json %>"
      :overlays="<%= map[:overlays].to_json %>"
      :search-types="<%= map[:search_types].to_json %>"
      title="<%= map[:title] %>"
    ></v-map-filters>
  </div>
</section>
