<h2 class="header--h2-insights container--profile">Protected areas coverage in 2017</h2>

<div class="u-relative">
  <div
    id="map-marine"
    class="map map--marine"
    data-style="marine"
    data-bound-from="<%= map_bounds['from'] %>"
    data-bound-to="<%= map_bounds['to'] %>"
    data-hide-control="true"
    data-zoom-position="bottomleft"
    data-pa-colors='{ "terrestrial": { "line": "95d0c1", "fill": "a4d6c9" }, "marine": { "line": "004280", "fill": "004a8f" } }'>
  </div>
  
  <div class="template--marine__counter counter u-infront-map sm-coverage">
    <h3 class="header--h3-insights">Number of Marine Protected Areas</h3>
    <p class="text--100"><counter class="sm-coverage-counter" :animate="false" :total="<%= @totalMarineProtectedAreas %>"></counter></p>

    <h3 class="header--h3-insights">Percent of the ocean covered by protected areas</h3>
    <p class="text--144"><counter class="sm-coverage-counter" :total="<%= @oceanProtectedAreasPercent %>"></counter>%</p>

    <h3 class="header--h3-insights">Total Area Protected</h3>
    <p class="text--48"><counter class="sm-coverage-counter" :total="<%= @oceanProtectedAreasKm %>"></counter>km²</p>
  </div>
</div>

<div class="u-bg--marine-1">
  <p class="container--profile template--marine__map-disclaimer text--standard">
    The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of the Secretariat of the United Nations concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.
  </p>
</div>