<section class="container">
  <div class="container--component">
    <h2><%= cms_fragment_render(:section_coverage_growth_title, @cms_page) %></h2>
    <div><%= cms_fragment_render(:section_coverage_growth_content, @cms_page) %></div>
    
    <div class="cards--basic">
      <% regionCoverage.each do |region| %>
        <div class="cards__card">
          <h3 class="card__title"><%= region[:title] %></h3>
          <p class="card__subtitle"><%= region[:percentage] %>% (<%= region[:km] %>km<sup>2</sup>)</p>
          <div class="chart--row">
            <div class="chart__row">
              <div 
                class="chart__bar theme--blue" 
                style="width: <%= region[:percentage] %>%;"
              ></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>