<section class="container">
  <div class="container--component">
    <h2><%= t('thematic_area.marine.coverage_growth.title') %></h2>
    <div>
      <%= t('thematic_area.marine.coverage_growth.content', total_ocean_pa_coverage_percentage: '%.2f' % marine_stats('total_ocean_pa_coverage_percentage'),
        total_ocean_area_protected: '%.2f' % marine_stats('total_ocean_area_protected')).html_safe %>
    </div>
    
    <div class="cards--basic">
      <% regionCoverage.each do |region| %>
        <div class="cards__card">
          <h3 class="card__title"><%= region[:title] %></h3>
          <p class="card__subtitle"><%= region[:percentage] %>% (<%= region[:km] %>km<sup>2</sup>)</p>
          <div class="chart--row">
            <div class="chart__row">
              <div 
                class="chart__bar theme--blue" 
                style="width: <%= region[:percentage] %>%;"
              ></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>