<section class="container">
  <div class="container--component">
    <h2><%= cms_fragment_render(:section_national_title, @cms_page) %></h2>
    <div><%= cms_fragment_render(:section_national_content, @cms_page) %></div>

    <h3><%= t('thematic_area.marine.national.sub_title') %></h3>

    <div class="cards--scrollable">
      <div class="cards">
        <% countries[:children].each do |country| %>
          <div class="cards__card">
            <div class="card__heading">
              <i class="card__flag icon--flag-outline" style="background-image:url('<%= image_url("#{country[:flag]}.svg") %>');"></i>
              <h3 class="card__h3"><%= country[:title] %></h3>
            </div>

            <div class="chart--row">
              <div class="chart__row">
                <div class="chart__bar" style="width: <%= country[:nationalPercentage] %>%;"></div>
                <div class="chart__bar-overseas" style="width: <%= country[:overseasPercentage] %>%;"></div>
              </div>

              <div>
                <p class="card__text">
                  <%= t('thematic_area.marine.national.chart_text',
                    country: country[:title],
                    overseas: country[:totalOverseasTerritories],
                    km: number_with_delimiter(country[:totalMarineArea])
                  ).html_safe %>
                </p>

                <div class="card__stats">
                  <p class="card__stat">
                    <span class="card__stat-bold"><%= country[:nationalPercentage] %>%</span>
                    <span class="card__stat-bold">(<%=  number_with_delimiter(country[:nationalKm]) %>km<sup>2</sup>)</span>
                    <span class="card__stat-text"><%= t('thematic_area.marine.national.chart_stat_text') %></span>
                  </p>

                  <% if country[:overseasPercentage] > 0 %>
                    <p class="card__stat-overseas">
                      <span class="card__stat-bold"><%= country[:overseasPercentage] %>%</span>
                      <span class="card__stat-bold">(<%= number_with_delimiter(country[:overseasKm]) %>km<sup>2</sup>)</span>
                      <span class="card__stat-text"><%= t('thematic_area.marine.national.chart_stat_text_overseas') %></span>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
