<div class="cards--articles">
  <div class="flex flex-v-center flex-h-between">
    <h2><%= title %></h2>

    <%= link_to t('global.button.all'), all_url, target: '_blank', title: t('global.button.all'), class: 'button--all' %>
  </div>

  <div class="cards__cards">
    <% cards.each do |card| %>
      <div class="card">
        image 
        <div>
          <p class="card__date"><%= card[:created_at] %></p>
          <h3><%= card[:label] %></h3>
          <p><%= card[:intro] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>