<% get_all = false if local_assigns[:get_all].nil? %>
<% get_news_items get_all %>

<div class="cards--articles">

  <% unless get_all %>
    <div class="flex flex-v-center flex-h-between">
      <h2><%= @items[:title] %></h2>
      <%= link_to t('global.button.all'), @items[:url], target: '_blank', title: t('global.button.all'), class: 'button--all' %>
    </div>
  <% end %>

  <div class="cards__cards">
    <% @items[:cards].each do |card| %>
      <%= link_to root_path + card[:full_path], title: card[:label], class: 'card bg--grey-light' do %>
        
        <% if cms_fragment_content(:image, card).present? %>
          <div class="card__image" style="background-image: url(<%= cms_fragment_render(:image, card) %>);"></div>
        <% else %>
          <div class="card__image">
            <i class="card__icon icon--image"></i>
          </div>
        <% end %>

        <div class="card__content">
          <p class="card__date"><%= card[:created_at].strftime('%d %B %y') %></p><!-- TODO swap this out for new date field -->
          <h3><%= card[:label] %></h3>
          <p><%= cms_fragment_content(:summary, card) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>