<% get_all = false if local_assigns[:get_all].nil? %>
<% get_resource_cards get_all %>

<div class="cards--resources">
  <div class="flex flex-v-center flex-h-between">
    <h2><%= @items[:title] %></h2>
    
    <% if @items[:url] && !get_all %>
      <%= link_to t('global.button.all'), @items[:url], title: t('global.button.all'), class: 'button--all' %>
    <% end %>
  </div>

  <div class="cards__cards <%= !get_all ? 'preview' : '' %>">
    <% @items[:cards].each do |card| %>
      <% if !card[:url].nil? %>
        <%= link_to card[:url], title: card[:label], class: 'card card--link' do %>
          <p class="card__date"><%= DateTime.parse(card[:published_date]).strftime('%d %B %y') %></p>
          <h3><%= card[:label] %></h3>
          <p><%= card[:summary] %></p>
        <% end %>
      <% else %>
        <div class="card">
          <p class="card__date"><%= DateTime.parse(card[:published_date]).strftime('%d %B %y') %></p>
          <h3><%= card[:label] %></h3>
          <p><%= card[:summary] %></p>
          
          <% if card[:file].present? %>
            <%= link_to t('global.button.download-pdf'), card[:file], title: t('global.button.download'), class: 'button--download', target: '_blank' %>
          <% end %>
          <% if card[:link].present? %>
            <%= link_to t('global.button.link'), card[:link], title: card[:link_title], class: 'button--link-external', target: '_blank' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>