<% @networks.each_with_index do |network, i| %>
  
  <% countryCount = network.countries.count %>
  <% protectedAreaCount = network.protected_areas.count %>

  <div 
    data-id="tab-<%= i+1 %>-content" 
    class="flex-row-wrap tab__content js-tab-content <%= "u-hide" unless i.zero? %>">

    <div class="flex-1-third stats">
      <div class="flex-row">
      
        <p class="flex-column-2 flex-row align-items-center">
          <span class="stats__number"><%= countryCount %></span>
          <span><%= countryCount > 1 ? 'Countries' : 'Country' %> involved</span>
        </p>

        <p class="flex-column-2 flex-row align-items-center">
          <span class="stats__number"><%= protectedAreaCount %></span>
          <span>Protected Area<%= 's' if protectedAreaCount > 1 %></span>
        </p>

      </div>

      <ul class="stats__country-list">
        <% network.countries.each do |country| %>
          <li><%= country.name %></li>
        <% end %>
      </ul>
    </div>

    <div class="flex-2-thirds">
      <p class="article__paragraph u-margin--page">
        
      </p>
    </div>
  </div>
<% end %>