<section class="row">
  <div class="one-thirds">
    <%= render "partials/stats/facts/number_of_pas", {location: @country} %>
    <%= render "partials/stats/facts/polygons_points_ratio" %>
    <%= render "partials/stats/facts/number_of_sources", {location: @country} %>
  </div>

  <div class="two-thirds">
    <%= render "partials/stats/facts/coverage_stats" %>

    <% if @pame_statistics && Rails.application.secrets.show_pame_statistics %>
      <%= render "country/facts/pame_statistics" %>
    <% end %>
  </div>
</section>

<section class="row">
  <div class="one-thirds">
    <%= render "partials/stats/facts/iucn_categories", {location: @country} %>
  </div>
  <div class="two-thirds">
    <%= render "partials/stats/facts/governance_types", {location: @country} %>
    <%= render "country/facts/related_countries" %>
  </div>
</section>

<section class="row">
  <% %w[National Regional International].each do |level| %>
    <%= render "partials/stats/facts/designations", {location: @country, level: level} %>
  <% end %>
</section>
