<section class="row">
  <div class="one-thirds">
    <%= render "country/facts/number_of_pas" %>
    <%= render "country/facts/polygons_points_ratio" %>
    <%= render "country/facts/number_of_sources" %>
  </div>

  <% if params[:for_pdf] %> <div style="height: 40px; page-break-before: always"></div> <% end %>

  <% if params[:for_pdf] %>
    <%= render "country/facts/coverage_stats" %>
    <div style="height: 40px; page-break-before: always"></div>
    <%= render "country/facts/pame_statistics" %>
  <% else %>
    <div class="two-thirds">
      <%= render "country/facts/coverage_stats" %>
      <%= render "country/facts/pame_statistics" %>
    </div>
  <% end %>
</section>

<section class="row">
  <div class="two-thirds">
    <%= render "country/facts/governance_types" %>
    <%= render "country/facts/related_countries" %>
  </div>
</section>

<% if params[:for_pdf] %> <div style="height: 40px; page-break-before: always"></div> <% end %>

<section class="row">
  <% %w[National Regional International].each do |level| %>
    <%= render "country/facts/designations", {level: level} %>
  <% end %>
</section>
