<section class="hero hero--overflow">
  <div class="js-download-btn hero__top <%= "hero__top--centered" if params[:for_pdf] %>">
    <h1 class="hero__title <%= "hero__title--bigger" if params[:for_pdf] %>">
      <%= @country.name %>, <small class="hero__title hero__title--thin"><%= @country.region.name %></small>
    </h1>
    <% unless params[:for_pdf] %>
      <div class="u-only-desktop tooltip__trigger js-trigger link-with-icon link-with-icon--bold">
        <i class="link-with-icon__icon fa fa-download"></i>Download this dataset
        <%= download_dropdown(@country.iso_3, 'general', (types rescue [:csv, :kml, :shp])) %>
      </div>
    <% end %>
  </div>
  <% unless params[:for_pdf] %>
    <div class="map map--hero" id="map" data-bound-from="<%= @country.bounds.first %>" data-bound-to="<%= @country.bounds.last %>" data-iso3="<%= @country.iso_3 %>"></div>
    <div class="disclaimer">
      The designations employed and the presentation of material on this map do not
      imply the expression of any opinion whatsoever on the part of the Secretariat
      of the United Nations concerning the legal status of any country, territory,
      city or area or of its authorities, or concerning the delimitation of its
      frontiers or boundaries.
    </div>
  <% end %>
</section>
