<aside class="pdf-page-break info-box info-box--fill-color">
  <section class="info-box__column">
    <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">Citation</h2>
    <p class="info-box__body">
    UNEP-WCMC (<%= Date.today.year %>). Protected Area Country Profile for <%= @country.name %> from the World Database of Protected Areas, <%= Date.today.strftime("%B %Y") %>. Available at: <a href="/">www.protectedplanet.net</a>
    </p>
  </section>

  <section class="info-box__column">
    <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">References</h2>
    <div class="info-box__body">
      <div class="reference">
        <h3 class="reference__title">(Ref 1)</h3>
        <p class="reference__body">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        <a class="reference__link" href="#"><i class="reference__link-icon fa fa-external-link-square"></i>Dolor amet Sydney</a>
      </div>
      <div class="reference">
        <h3 class="reference__title">(Ref 2)</h3>
        <p class="reference__body">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        <a class="reference__link" href="#"><i class="reference__link-icon fa fa-external-link-square"></i>Dolor amet Sydney</a>
      </div>
      <div class="reference">
        <h3 class="reference__title">(Ref 3)</h3>
        <p class="reference__body">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        <a class="reference__link" href="#"><i class="reference__link-icon fa fa-external-link-square"></i>Dolor amet Sydney</a>
      </div>
    </div>
  </section>

  <% unless params[:for_pdf] %>
    <section class="info-box__column">
      <h2 class="info-box__header header-with-delimiter header-with-delimiter--bold">Downloads</h2>
      <div class="info-box__body info-box__body--no-padding">
        <div class="info-box__row">
          <button class="js-download-btn info-box__link">
            <i class="info-box__link-icon fa fa-download"></i>Download this dataset
          </button>
          <a href="/country-profiles/protectedplanet-<%= @country.iso %>-country.pdf" class="info-box__link">
            <i class="info-box__link-icon fa fa-file-pdf-o"></i>Download this country page as PDF
          </a>
        </div>

        <div class="info-box__row">
          <button class="big-button" onclick="window.location.href='<%= search_url(country: @country.id, main: :country) %>'">
            <i class="fa fa-link big-button__icon"></i>Protected Area list of the country
          </button>
        </div>
      </div>
    </section>
  <% end %>
</aside>
