<div class="page--country bg--grey-xlight">
  <div class="container">
    <section class="page__section--overview-map flex-stack-mobile">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        flag: @flag_path[0],
        chart_point_poly: @country_presenter.chart_point_poly,
        legend_map: map_legend,
        title: @country.name,
        total_oecm: @total_oecm,
        total_pame: @total_pame,
        total_wdpa: @total_wdpa,
      } %>

      <div class="page__map">
        <%= render partial: "partials/maps/header", locals: {
          map: @map,
          map_options: @map_options
        } %>
      </div>
    </section>

    <section>
      <div class="card--stats-wrapper">
        <%= render partial: "partials/stats/stats-coverage", locals: { 
          stats: @country_presenter.terrestrial_stats, 
          type: 'terrestrial' 
        } %>

        <%= render partial: "partials/stats/stats-coverage", locals: { 
          stats: @country_presenter.marine_stats, 
          type: 'marine' 
        } %>
      </div>

      <%= render "partials/messages/message-warning-stats" %>

      <div class="flex flex-h-between">
        <%= render partial: "partials/stats/stats-iucn-categories", locals: { iucn_categories: @iucn_categories } %>
        
        <%= render "partials/stats/stats-governance", { governance_types: @governance_types} %>
      </div>

      <%= render partial: "partials/stats/stats-sources", locals: { sources: @sources } %>

      <%= render partial: "partials/stats/stats-designations", locals: { designations: @country_designations } %>

      <div class="card--stats-growth-chart">
        <div class="card__chart-wrapper">
          <h2><%= t('stats.growth.title') %></h2>

          <am-chart-line :data="<%= @coverage_growth.to_json %>">
          </am-chart-line>
          
          <p class="text--small"><%= t('stats.coverage-chart-smallprint') %></p>
        </div>
      </div>

      <% if has_related_countries? %>

        <%= render partial: "partials/stats/stats-related-countries", locals: { 
          country_children: @country.children.any? ? @country.children : nil,
          country_parent: @country.parent.present? ? @country.parent : nil
        } %>
      
      <% end %>
      
      <%= render partial: "partials/cards/sites", locals: { 
        cards: @sites,
        title: @country.name + ' ' + t('country.protected_areas'),
        url: @sitesViewAllUrl
      } %>
      

      <%= render partial: "partials/messages/message-citation", locals: { title: @country.name } %>
    </section>
  </div>
</div>