<%= render partial: "./partials/bars/topbar-secondary", locals: { 
  download_options: @download_options,
  download_disabled: @total_wdpa == 0
} %>

<div class="page--country bg--grey-xlight spacer-small--top">
  <div class="container">

    <% if country_has_restricted_data %>
      <section class="spacer-small--bottom">
        <%= render partial: "partials/messages/message-country-restricted", locals: { 
          message: get_restricted_message
        } %>
      </section>
    <% end %>

    <section class="page__section--overview-map">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        flag: @flag_path,
        chart_point_poly: @country_presenter.chart_point_poly,
        legend_map: map_legend,
        title: @country.name,
        total_oecm: @total_oecm,
        total_pame: @total_pame,
        total_wdpa: @total_wdpa,
      } %>

      <div class="page__map map--country">
        <%= render partial: "partials/maps/header", locals: {
          map: @map,
          map_options: @map_options
        } %>
      </div>
    </section>

    <section>
      <region-country-pages
        :data="<%= @stats_data.to_json %>"
        :tabs="<%= @tabs.to_json %>"
      >
        <template slot="related_countries">
          <% if has_related_countries? %>
            <%= render partial: "partials/stats/stats-related-countries", locals: { 
              country_children: @country.children.any? ? @country.children : nil,
              country_parent: @country.parent.present? ? @country.parent : nil
            } %>
          <% end %>
        </template>
      </region-country-pages>
    </section>  
    
    <section class="spacer-small--bottom">
      <%= render partial: "partials/messages/message-citation", locals: { title: @country.name } %>
    </section>
  </div>
</div>