<section class="hero hero--overflow">
  <div class="js-download-btn hero__top <%= "hero__top--centered" if @for_pdf %>">
    <h1 class="hero__title <%= "hero__title--bigger" if @for_pdf %>">
      <%= @region.name %>, <small class="hero__title hero__title--thin"><%= @region.name %></small>
    </h1>
    <%# unless @for_pdf %>
    <%#  <div class="u-only-desktop tooltip__trigger js-trigger link-with-icon link-with-icon--bold disabled">
        <i class="link-with-icon__icon fa fa-download"></i>Download this dataset
        <%= download_dropdown(@region.iso, 'general', (types rescue [:csv, :kml, :shp])) %>
    <%#  </div>
    <% end %>
  </div>
  <% unless @for_pdf %>
    <div class="js-resizable map map--hero" id="map" data-mobile-height=33 data-bound-from="<%= @region.bounds.first %>" data-bound-to="<%= @region.bounds.last %>" data-iso3="<%= @region.iso %>"></div>
    <div class="disclaimer">
      The designations employed and the presentation of material on this map do not
      imply the expression of any opinion whatsoever on the part of the Secretariat
      of the United Nations concerning the legal status of any country, territory,
      city or area or of its authorities, or concerning the delimitation of its
      frontiers or boundaries.
    </div>
  <% end %>
</section>
