<%= render partial: "./layouts/partials/hero-basic", locals: { title: @cms_page.label, classes: "#{@cms_page.slug} bg-image-overlay--white" } %>


<section class="container">
  <%= render "partials/forms/api-form" %> 
  <%= cms_fragment_render("content") %>
</section>

<%= render "partials/carousels/themes" %>
<%= render "partials/cards/resources" %>
<%= render "partials/ctas/live-report" %>