<div>
  <div class="col-six login-form">
    <%= render 'partials/flash' %>
    <article>
      <h1>Change your password</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class='form-group'>
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'login-input' %>
        </div>

        <div class='form-group'>
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'login-input' %>
        </div>

        <div><%= f.submit "Change my password", class: 'btn' %></div>
      <% end %>
      <div class="shared-links"><%= render "devise/shared/links" %></div>
    </article>
  </div>

  <div class="col-six login-right-panel">
    <%= render 'devise/login_text' %>
  </div>
</div>
