<div>
  <div class="col-six login-form">
    <%= render 'partials/flash' %>
    <article>
      <h1>Forgot your password?</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: 'login-input' %>
          <%= f.email_field :email, autofocus: true, class: 'login-input' %>
        </div>

        <div><%= f.submit "Send me reset password instructions", class: 'btn' %></div>
      <% end %>
      <div class="shared-links"><%= render "devise/shared/links" %></div>
    </article>
  </div>
  <div class="col-six login-right-panel">
    <%= render 'devise/login_text' %>
  </div>
</div>