<%= render partial: "./layouts/partials/hero-small", locals: { 
  classes: @cms_page.slug,
  image: cms_fragment_render(:image, @cms_page),
  title: @cms_page.label,  
} %>

<section class="container--medium section-padding">
  <%= cms_fragment_render("content") %>
</section>

<section class="section-padding--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<section class="container section-padding--bottom">
  <%= render "partials/cards/resources" %>
</section>

<%= render "partials/ctas/live-report" %>
