
<%= render partial: "./layouts/partials/hero-basic", locals: { 
    classes: "#{@cms_page.slug} bg-image-overlay--white" ,
    image: cms_fragment_render(:image, @cms_page),
    summary: cms_fragment_render("summary"),
    title: @cms_page.label
  } 
%>

<%= render partial: "partials/tabs/tabs-equity", locals: { 
  ga_id: "Slug: #{@cms_page.slug}",
  tabs: tabs
} %>

<section class="container spacer-small--top">
  <%= render "partials/cards/resources" %>
</section>

<section class="spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>