<div class="page--news">
  <%= render partial: "./layouts/partials/hero-small", locals: { 
    classes: @cms_page[:slug],
    image: cms_fragment_render(:image, @cms_page),
    title: @cms_page.label
  } %>

  <listing-page
    endpoint-search="/en/search-cms"
    :filter-groups="<%= get_category_filters %>"
    :page-id="<%= @cms_page.id %>"
    :results="<%= cms_pages_for_search %>"
    sm-trigger-element="sm-listing"
    template="news"
    text-clear="<%= t('search.clear') %>"
    text-filters-close="View Results"
    text-filter-trigger="<%= t('search.filters') %>"
    text-no-results="No Results"
  ></listing-page>

  <%= render "partials/ctas/live-report" %>
</div>