<div class="page--resource spacer-small--top">
  <div class="container--medium">
    <p class="page__date">
      <%= cms_fragment_content_datetime(:published_date, @cms_page).strftime('%d %B %y') %>
    </p>

    <h1 class="page__h1"><%= @cms_page.label %></h1>
  </div>

  <section class="container--medium cms-wysiwyg">
    <%= cms_fragment_render("content") %>
  </section>
  
  <section class="container--medium spacer-small--top">
    <% unless get_resource_links.empty? %>
      <ul class="list--links">
        <% get_resource_links.each do |link| %>
          <% unless link[:url].blank? %>
            <li class="list__li">
              <span><%= link[:text] %></span>
              <% link_to link[:button], link[:url], title: link[:text], class: "list__a #{link[:classes]}", target: '_blank' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </section>
</div>

<div class="flex flex-h-center spacer-small--bottom">
  <%= render "partials/social/social-share" %>
</div>

<section class="container spacer-small--bottom">
  <%= render "partials/cards/resources" %>
</section>

<%= render "partials/ctas/live-report" %>