<div class="hero hero--no-margin-top u-relative">
  <div data-bound-from="<%= map_bounds['from'] %>" data-control-position="bottomleft" data-bound-to="<%= map_bounds['to'] %>" class="map map--main" id="map"></div>
  <div class="disclaimer">
    <a href="#thematic-areas">
      The designations employed and the presentation of material on this map do not
      imply the expression of any opinion whatsoever on the part of the Secretariat
      of the United Nations concerning the legal status of any country, territory,
      city or area or of its authorities, or concerning the delimitation of its
      frontiers or boundaries.
      <div class="disclaimer__arrow">
        <div class="disclaimer__arrow-inner"></div>
      </div>
    </a>
  </div>

  <div class="js-explore-target u-click-through o-overlay">
    <div class="js-search-container col-five u-only-desktop u-no-click-through <%= bem('info-box', 'fff', 'hero', 'shadow') %>">
      <div class="search-bar info-box__body info-box__body--no-padding">

        <form action='/search' method='get' class="search-bar__form" id="search-form">
          <input autocomplete="off" name="q" placeholder="Search a protected area" value='<%= @query %>' class="search-bar__input js-search-input" type="text">
          <button class="search-bar__submit" type="submit"><i class="fa fa-search"></i></button>
        </form>

        <div class="js-download-btn tooltip__trigger">
          <button href="#" class="js-trigger btn-map-download">
            <i class="fa fa-download big-button__icon"></i>WDPA Dataset
          </button>

          <%= download_dropdown("all", "general", [:csv, :kml, :shp, :gdb, :esri]) %>
        </div>

      </div>
      <div class="js-autocompletion-results autocompletion u-hide"></div>
    </div>
  </div>
</div>
