<div id="thematic-areas" class="section section--padding-top">
  <h1 class="section__header">Discover our Thematic Areas</h1>
  
  <div class="section__body flex-row-wrap">
    
    <% @thematicAreas.each do |area| %>
      <div class="flex-1-half">
        <div class="circle-story">

          <div class="circle-story__circle flex-1-third">
            <img src="<%= image_url("thematic-areas/#{area[:image]}") %>" class="circle-story__circle-inner" alt="Generic image for the <%= area[:title] %> thematic area">
          </div>

          <div class="circle-story__body flex-2-thirds">
            <h2 class="circle-story__title">
              <a href="<%= area[:url] %>" title="Visit the <%= area[:title] %> page"><%= area[:title] %></a>
            </h2>

            <p class="circle-story__content">
              <%= area[:content] %>
            </p>

            <a href="<%= area[:url] %>" title="Visit the <%= area[:title] %> page" class="link-with-icon u-bold" >
              Learn more<i class="fa fa-arrow-right link-with-icon__icon link-with-icon__icon--after"></i>
            </a>
          </div>
        </div>
      </div>
    <% end %>

  </div>  
</div>
