<div data-zoom-controls="topleft" data-bound-from="<%= map_bounds['from'] %>" data-bound-to="<%= map_bounds['to'] %>" class="home-map" id="map">
</div>

<div class="overlay">
  <section>
    <h1>Protected Planet</h1>
    <p>Discover and explore protected areas around the world</p>

    <div class="search-bar">
      <%= render 'shared/search_form', query: @query %>
    </div>

    <a href="#" data-download-object="all" class="btn btn-primary btn-download"><i class="fa fa-download"></i> Download the WDPA dataset</a>
  </section>
</div>

<div class="home-statistics bg-img">
  <main>
    <div class="factsheet">
      <section class="intro">
        <h2>A World of Protected Areas</h2>
        <p>This is a summary of the status of all the protected areas at a global level. To learn more about a region, country, or area in particular, you can search, or explore the map.</p>
      </section>

      <section class="column-left stats">
        <h3>Protected Areas (PAs)</h3>
        <p>
          <%= image_tag "map-marker@2x.png", style: "width: 29px; height: 44px" %>
          <%= @number_of_pas %>
        </p>
      </section>

      <section class="column-right stats">
        <h3>PAs with IUCN category</h3>
        <p>
          <%= image_tag "IUCN@2x.png", style: "width: 50px; height: 49px" %>
          <%= @pas_with_iucn_category %>
        </p>
      </section>

      <section class="column-right stats">
        <h3>Number of designations</h3>
        <p>
          <%= image_tag "designation@2x.png", style: "width: 38px; height: 49px" %>
          <%= @number_of_designations %>
        </p>
      </section>

      <section class="column-left stats">
        <h3>Countries providing data</h3>
        <p>
          <%= image_tag "data@2x.png", style: "width: 47px; height: 49px" %>
          <%= @countries_providing_data %>
      </p>
      </section>
    </div>
  </main>
</div>
