<div
  data-bound-from="<%= map_bounds['from'] %>"
  data-bound-to="<%= map_bounds['to'] %>"
  data-animate="true"
  <% if map_filtered? %>
    data-url="<%= api_search_points_url(params) %>"
  <% end %>
  class="home-map"
  id="map">
  <div class="map-disclaimer">
    The boundaries and names shown, and the designations used on this
    map do not imply official endorsement or acceptance by the United
    Nations or IUCN.
  </div>
</div>

<%= render partial: 'map_filters' %>
<%= render partial: 'shared/download_data_set', locals: {custom_classes: 'btn-map-download', item_id: 'all'} %>
