<%= render partial: "./layouts/partials/hero-home", locals: { 
    button: t('home.hero.button'),
    hero_stat_percentage: @pa_coverage_percentage,
    hero_stat_text: t('home.hero.stat-text')
  } 
%>

<section class="container section-padding">
  <%= render partial: "partials/cards/facts", locals: { cards: @site_facts } %>
</section>

<%= render "partials/search/protected-areas" %>

<section class="container section-padding">
  <h2 class="text-center"><%= @pas_title %></h2>

  <%= render partial: "partials/cards/circles", locals: { cards: @pas_levels } %>

  <%= render partial: "partials/cards/squares", locals: { cards: pas_categories } %>
</section>

<section>
  <%= render partial: "partials/maps/main" %>
</section>

<%= render "partials/carousels/themes" %>

<%= render "partials/ctas/api" %>
    
<section class="container section-padding">
  <%= render "partials/cards/resources" %>
</section>

<section class="container section-padding">
  <%= render "partials/cards/articles" %>
</section>

<%= render "partials/ctas/live-report" %>