<section class="info-box">
  <div class="info-box__body info-box__body--no-padding">
    <article>
      <%= render 'protected_areas/factsheet/official_record', protected_area: protected_area %>
    </article>

    <div class="row info-box__row info-box__row--no-border">
      <%= render 'protected_areas/factsheet/data_completion', protected_area: protected_area %>
    </div>

    <% if protected_area.has_irreplaceability_info %>
      <%= render 'protected_areas/factsheet/related_source',
        title: "Analysis of Irreplaceability",
        url: url_for_related_source('irreplaceability_info', protected_area),
        info: "This Protected Area has been assessed and ranked for irreplaceability"
      %>
    <% end %>

    <% if protected_area.has_parcc_info %>
      <%= render 'protected_areas/factsheet/related_source',
        title: "Vulnerability Assessment",
        url: url_for_related_source('parcc_info', protected_area),
        info: "This Protected Area has been assessed for its vulnerability to climate change"
      %>
    <% end %>

    <% if related_links?(protected_area) %>
      <article>
        <h3>Related</h3>
        <ul>
          <li><a href='<%= protected_area.wikipedia_article.url %>'>Wikipedia article</a></li>
        </ul>
      </article>
    <% end %>
  </div>
</section>
