<section>
  <div class="header--section">
    <h2 class="u-inline-block">Site network</h2>
  </div>

  <div class="js-tabs-map">
    <ul class="tab__titles">
      <% @networks.each_with_index do |network, i| %>
        <li data-wdpa-ids="<%= network.protected_areas.map(&:wdpa_id).to_json %>"
          data-id="tab-<%= i+1 %>"
          data-network-id="<%= network.id %>"
          class="tab__title js-tab-title <%= "tab__title--active" if i.zero? %>">
          <%= network.name %>
        </li>
      <% end %>
    </ul>
    
    <%= render partial: "protected_areas/networks/stats" %>

    <div class="flex-row-wrap js-fullscreen-target fullscreen" data-id="map-connections-target"">

      <button 
        class="button--fullscreen js-fullscreen-button js-fullscreen-button-connections fa fa-expand fullscreen__button-connections u-only-desktop" 
        data-id="map-connections"
        data-type="expand">
      </button>

      <div class="flex-1-quarter key-container u-bg--white">
        <% @networks.each_with_index do |network, i| %>
          <div data-id="tab-<%= i+1 %>-content" 
               data-wdpa-ids="<%= network.protected_areas.map(&:wdpa_id).to_json %>"
               class="key tab__content js-tab-content <%= "u-hide" unless i.zero? %>">
            
            <p class="key__title">Display options</p>
            
            <div class="key__list">
              <% network.protected_areas.each_with_index do |protected_area, i| %>
                <div class="key__item">
                  <p data-wdpa-id="<%= i %>" class="key__checkbox key__checkbox--active js-key-item js-active-key-item">
                    <span class="key__name <%= ' key__name--green ' if i == 0 %>"><%= protected_area.name %></span>
                    <span class="key__designation"><%= protected_area.designation.try(:name) || "Not Reported" %></span>
                  </p>
                </div>
              <% end %>
            </div>
              
            <button class="button--grey js-key-toggle" data-toggle-type="hide">Uncheck all</button>
            
          </div>
        <% end %>
      </div>

      <div class="flex-3-quarters">
        <div id="map-connections" class="map map--networks"
          data-bound-from="<%= @networks.first.bounds.first %>"
          data-bound-to="<%= @networks.first.bounds.last %>"
          data-wdpa-ids="<%= @networks.first.protected_areas.map(&:wdpa_id).to_json %>">
        </div>
        <div class="disclaimer">
          The designations employed and the presentation of material on this map do not
          imply the expression of any opinion whatsoever on the part of the Secretariat
          of the United Nations concerning the legal status of any country, territory,
          city or area or of its authorities, or concerning the delimitation of its
          frontiers or boundaries.
        </div>        
      </div>
    </div>
  
  </div>
</section>
