<section>
  <% if @networks.any? %>
    <div class="header--section">
      <h2 class="u-inline-block header--site-connections">Site connections</h2><button class="button--hide">Hide</button>
    </div>

    <div class="js-tabs-map">
      <ul class="tab__titles u-margin--page">
        <% @networks.each_with_index do |network, i| %>
          <li data-wdpa-ids="<%= network.protected_areas.map(&:wdpa_id).to_json %>"
            data-id="tab-<%= i+1 %>"
            data-network-id="<%= network.id %>"
            class="tab__title js-tab-title <%= "tab__title--active" if i.zero? %>">
            <%= network.name %>
          </li>
        <% end %>
      </ul>


      <% @networks.each_with_index do |network, i| %>
        <div data-id="tab-<%= i+1 %>-content" class="key tab__content js-tab-content u-margin--page <%= "u-hide" unless i.zero? %>">
          <% network.protected_areas.each_with_index do |protected_area, i| %>
            <div class="key__item">
              <p data-wdpa-id="<%= i %>" class="key__title"><span class="key__icon"></span><span><%= protected_area.name %></span></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map" class="map map--hero"
      data-bound-from="<%= @networks.first.bounds.first %>"
      data-bound-to="<%= @networks.first.bounds.last %>"
      data-wdpa-ids="<%= @networks.first.protected_areas.map(&:wdpa_id).to_json %>">
    </div>
    <div class="disclaimer">
      The designations employed and the presentation of material on this map do not
      imply the expression of any opinion whatsoever on the part of the Secretariat
      of the United Nations concerning the legal status of any country, territory,
      city or area or of its authorities, or concerning the delimitation of its
      frontiers or boundaries.
    </div>
  <% else %>
    <div id="map" class="map map--hero"
      data-bound-from="<%= @protected_area.bounds.first %>"
      data-bound-to="<%= @protected_area.bounds.last %>"
      data-wdpa-ids="<%= [@protected_area.wdpa_id] %>">
    </div>
    <div class="disclaimer">
      The designations employed and the presentation of material on this map do not
      imply the expression of any opinion whatsoever on the part of the Secretariat
      of the United Nations concerning the legal status of any country, territory,
      city or area or of its authorities, or concerning the delimitation of its
      frontiers or boundaries.
    </div>
  <% end %>
</section>
