<section>
  <h2 class="header--section u-margin--page">Site network breakdown</h2>

  <div class="js-tabs-network tab-container">
    <ul class="tab__titles u-margin--page">
      <% @networks.each_with_index do |network, i| %>
        <li data-id="tab-<%= i+1 %>" class="tab__title js-tab-title <%= "tab__title--active" if i.zero? %>"><%= network.name %></li>
      <% end %>
    </ul>

    <% @networks.each_with_index do |network, i| %>
      <div data-id="tab-<%= i+1 %>-content" class="tab__content js-tab-content <%= "u-hide" unless i.zero? %>">
        <p class="article__paragraph u-margin--page"></p>
        
        <div class="flex-row-wrap">
          <% network.protected_areas.each do |protected_area| %>
            <% next if protected_area.id == @protected_area.id %>
            <%= render partial: "pa_card", locals: {protected_area: protected_area} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
</section>