<div class="page--site bg--grey-xlight">
  <div class="container">
    <section class="page__section--overview-map">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        area: reported_area,
        location: @locations.html_safe,
        title: @protected_area.name,
        type: map_layer_type,
        wdpa_id: @protected_area.wdpa_id,
        external_links: @presenter.external_links
      } %>
      
      <div class="map--site">
        <%= render partial: "partials/maps/header", locals: {
        map: @map,
        map_options: @map_options
      } %>
      </div>
    </section>

    <div class="page__col-wrapper">
      <div class="page__col-1">
        <%= render partial: "partials/stats/stats-attributes", locals: { attributes: @presenter.attributes } %>
      </div>
      <div class="page__col-2">
        <%= render partial: "partials/stats/stats-pame" , locals: { classes: 'page__col-child' } %>
        <%= render partial: "partials/stats/stats-affiliations", locals: { 
          classes: 'page__col-child',
          affiliations: @presenter.affiliations 
        } %>
      </div>
    </div>

    <%= render partial: "partials/stats/stats-overlap" %>

    <%= render partial: "partials/stats/stats-sources", locals: { sources: @sources } %>
    
    <section class="section-padding--top">
      <%= render partial: "partials/cards/sites", locals: { 
        cards: @wdpa_other, 
        title: t('thematic_area.wdpa.other_protected_areas'),
        url: @otherWdpasViewAllUrl
      } %>
    </section>
    
    <%= render partial: "partials/messages/message-citation", locals: { title: @protected_area.name } %>
  </div>  
</div>