<% 
# If a site has multiple parcels then
# The area km2 is the addition for all parcels
# The map shows all (parcels) polygons/points belonging to the site.
# The name is the first parcel
# The attributes table shows all parcel attributes
# The rest info in the page are still only against site_id only not taking parcel Ids into consideration 
# If in future more info are taking parcel ids into consideration Please ADD COMMENTS here.
%>

<%= render partial: "./partials/bars/topbar-secondary", locals: { download_options: @download_options } %>
<div class="page--site bg--grey-xlight spacer-small--top">
  <div class="container">
    <section class="page__section--overview-map">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        area: reported_area,
        location: @locations.html_safe,
        title: @protected_area.name,
        type: map_layer_type,
        site_id: @protected_area.site_id,
        external_links: @presenter.external_links
      } %>
      <div class="map--site">
        <%= render partial: "partials/maps/header", locals: {
          map: @map,
          map_options: @map_options
        } %>
      </div>
    </section>
    <section class="page__section--parcels-dropdown">
      <%= render partial: "partials/attributes/attributes-parcels-dropdown", locals: { 
          parcel_id_param: ProtectedAreasHelper::URL_PARAMS[:parcel].to_json,
          site_pids: @presenter.parcels_site_pids.to_json,
          for_pdf: @for_pdf
        } %>
    </section>
    <div class="page__col-wrapper pdf-break-after">
      <div class="page__col-1">
        <%= render partial: "partials/attributes/attributes-protected-area-parcels", locals: { 
          current_pa_and_parcels_attributes: @presenter.current_pa_and_parcels_attributes, 
          for_pdf: @for_pdf
       } %>
      </div>
      <div class="page__col-2">
        <%= render partial: "partials/attributes/attributes-pames" , locals: { 
          classes: 'page__col-child',
          for_pdf: @for_pdf 
          } %>
        <%= render partial: "partials/stats/stats-affiliations", locals: { 
          classes: 'page__col-child',
          affiliations: @presenter.affiliations
        } %>
      </div>
    </div>
    <%= render partial: "partials/attributes/attributes-protected-area-parcels-sources", locals: {
      sources_attributes_for_current_pa_and_all_parcels: @protected_area.sources_attributes_for_current_pa_and_all_parcels.to_json,
      for_pdf: @for_pdf
    } %>
    <section class="spacer-large--top">
      <%= render partial: "partials/cards/sites", locals: { 
        cards: @wdpa_other,
        title: t('thematic_area.wdpa.other_protected_areas'),
        url: @otherWdpasViewAllUrl
      } %>
    </section>
    <section class="spacer-small--bottom">
      <%= render partial: "partials/messages/message-citation", locals: { title: @protected_area.name } %>
    </section>
  </div>
</div>