<%= content_for :page_title, @protected_area.name %>

<% content_for :header do %>
  <nav class="sub-nav">
    <ul class="nav">
      <li><h1>Official Record for <strong><%= @protected_area.name %><strong></h1></li>

      <% unless @country.blank? %>
        <li>
          <h2>
            <a href="<%= country_path(@country.iso) %>">
              <%= @country.name %><% if @region %>, <%= @region.name %><% end %>
            </a>
          </h2>
        </li>
      <% end %>

      <li><%= render partial: 'shared/add_to_project', locals: {item_type: 'protected_area', item_id: @protected_area.id} %></li>
    </ul>
  </nav>
<% end %>

<%= render partial: 'factsheet', locals: {protected_area: @protected_area} %>

<div class="protected-area-map" id="map"
  data-bound-from="<%= map_bounds(@protected_area)['from'] %>"
  data-bound-to="<%= map_bounds(@protected_area)['to'] %>"
  data-wdpa-id="<%= @protected_area.wdpa_id %>">
  <div class="map-disclaimer">
    The boundaries and names shown, and the designations used on this
    map do not imply official endorsement or acceptance by the United
    Nations or IUCN.
  </div>
</div>
