<% content_for :header do %>
  <nav class="sub-nav">
    <ul class="nav">
      <li><h1><%= @protected_area.name %></h1></li>
      <li><h2><%= @protected_area.name %></h2></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Download Dataset <i class="fa fa-caret-down"></i>
</a></li>
      <li><%= render partial: 'shared/add_to_project', locals: {item: @protected_area, type: 'protected_area'} %></li>
    </ul>
  </nav>
<% end %>

<section class="protected-area">
  <article>
    <h3>Official Record</h3>
    <%= render 'official_record', protected_area: @protected_area %>

    <h3>Data Provider</h3>
    <ul>
      <%= render @protected_area.sources %>
    </ul>
  </article>

  <ul class="protected-area-infographic">
    <li>
      <span><%= Wdpa::DataStandard.percentage_complete(@protected_area).round(2) %></span>
      Data Complete
    </li>
    <li>
      <span><%= Wdpa::DataStandard.data_gaps(@protected_area) %></span>
      Data Gaps
    </li>
    <li>Last Updated sometime</li>
  </ul>

  <article>
    <h3>Related</h3>
    <ul>
      <% if @protected_area.wikipedia_article %>
        <li><a href='<%= @protected_area.wikipedia_article.url %>'>Wikipedia article</a></li>
      <% end %>
    </ul>  
  </article>
</section>

<div class="protected-area-map" id="map"
  data-zoom-control="topright"
  data-padding-enabled data-bound-from="<%= map_bounds(@protected_area)['from'] %>"
  data-bound-to="<%= map_bounds(@protected_area)['to'] %>"
  data-wdpa-id="<%= @protected_area.wdpa_id %>">
</div>
