<% content_for :header do %>
  <nav class="sub-nav">
    <ul class="nav">
      <li><h1>Official Record for <strong><%= @protected_area.name %><strong></h1></li>
      <li><h2><a href="<%= country_path(@country.iso) %>"><%= @country.name %>, <%= @region.name %></a></h2></li>
      <li><%= render partial: 'shared/add_to_project', locals: {item_type: 'protected_area', item_id: @protected_area.id} %></li>
    </ul>
  </nav>
<% end %>

<section class="factsheet">
  <article>

    <%= render 'official_record', protected_area: @protected_area %>
  </article>

  <ul class="protected-area-infographic">
    <li>
      <span><%= Wdpa::DataStandard.percentage_complete(@protected_area).round(2) %>%</span>
      Data Complete
    </li>
  </ul>

  <% if related_links?(@protected_area) %>
    <article>
      <h3>Related</h3>
      <ul>
        <% if @protected_area.wikipedia_article %>
          <li><a href='<%= @protected_area.wikipedia_article.url %>'>Wikipedia article</a></li>
        <% end %>
      </ul>
    </article>
  <% end %>

  <article>
    <% if @protected_area.nearest_protected_areas.count > 1 %>
      <h3>Nearest Protected Areas</h3>

      <ul class="nearest-protected-areas">
        <% @protected_area.nearest_protected_areas[1..2].each do |protected_area| %>
          <li>
            <a href="/<%= protected_area.slug %>">
              <%= protected_area_cover(protected_area) %>
            </a>

            <h4><a href="/<%= protected_area.slug %>"><%= protected_area.name %></a></h4>
          </li>
        <% end %>
      </ul>
    <% end %>
  </article>
</section>

<div class="protected-area-map" id="map"
  data-bound-from="<%= map_bounds(@protected_area)['from'] %>"
  data-bound-to="<%= map_bounds(@protected_area)['to'] %>"
  data-wdpa-id="<%= @protected_area.wdpa_id %>">
  <div class="map-disclaimer">
    The boundaries and names shown, and the designations used on this
    map do not imply official endorsement or acceptance by the United
    Nations or IUCN.
  </div>
</div>
