<% content_for :header do %>
  <h2><%= @protected_area.name %></h2>
<% end %>

<section>
  <article>
    <h3>Official Record</h3>
    <%= render 'official_record', protected_area: @protected_area %>

    <h3>Data Provider</h3>
    <ul>
      <%= render @protected_area.sources %>
    </ul>
  </article>

  <ul class="protected-area-infographic">
    <li>
      <span><%= Wdpa::DataStandard.percentage_complete(@protected_area).round(2) %></span>
      Data Complete
    </li>
    <li>
      <span><%= Wdpa::DataStandard.data_gaps(@protected_area) %></span>
      Data Gaps
    </li>
    <li>Last Updated sometime</li>
  </ul>

  <article>
    <h3>Related</h3>
    <ul>
      <% if @protected_area.wikipedia_article %>
        <li><a href='<%= @protected_area.wikipedia_article.url %>'>Wikipedia article</a></li>
      <% end %>
    </ul>  
  </article>
</section>

<div class="protected-area-map" id="map"
  data-padding-enabled data-bound-from="<%= map_bounds(@protected_area)['from'] %>"
  data-bound-to="<%= map_bounds(@protected_area)['to'] %>"
  data-wdpa-id="<%= @protected_area.wdpa_id %>">
</div>
