<% 
# If a site has multiple parcels then
# The area km2 is the addition for all parcels
# The map shows all (parcels) polygons/points belonging to the site.
# The name is the first parcel
# The attributes table shows all parcel attributes
# The rest info in the page are still only against wdpa_id only not taking parcel Ids into consideration 
# If in future more info are taking parcel ids into consideration Please ADD COMMENTS here.
%>

<%= render partial: "./partials/bars/topbar-secondary", locals: { download_options: @download_options } %>
<div class="page--site bg--grey-xlight spacer-small--top">
  <div class="container">
    <section class="page__section--overview-map">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        area: reported_area,
        location: @locations.html_safe,
        title: @protected_area.name,
        type: map_layer_type,
        wdpa_id: @protected_area.wdpa_id,
        external_links: @presenter.external_links
      } %>
      <div class="map--site">
        <%= render partial: "partials/maps/header", locals: {
          map: @map,
          map_options: @map_options
        } %>
      </div>
    </section>
    <div class="page__col-wrapper pdf-break-after">
      <div class="page__col-1">
        <%= render partial: "partials/stats/stats-attributes-set", locals: { 
          parcels_attribute: @presenter.parcels_attribute, 
          for_pdf: @for_pdf,
          description: stats_attributes_set_description
       } %>
      </div>
      <div class="page__col-2">
        <%= render partial: "partials/stats/stats-pame" , locals: { classes: 'page__col-child' } %>
        <%= render partial: "partials/stats/stats-affiliations", locals: { 
          classes: 'page__col-child',
          affiliations: @presenter.affiliations
        } %>
      </div>
    </div>
    <%= render partial: "partials/stats/stats-parcels-sources", locals: {
      sources: @sources.to_json
    } %>
    <section class="spacer-large--top">
      <%= render partial: "partials/cards/sites", locals: { 
        cards: @wdpa_other,
        title: t('thematic_area.wdpa.other_protected_areas'),
        url: @otherWdpasViewAllUrl
      } %>
    </section>
    <section class="spacer-small--bottom">
      <%= render partial: "partials/messages/message-citation", locals: { title: @protected_area.name } %>
    </section>
  </div>
</div>