<div class="protected-area-map" id="map" data-bound-from="<%= @protected_area.bounds.first %>" data-bound-to="<%= @protected_area.bounds.last %>"></div>

<main>
  <section class="info-card">
    <h2><%= @protected_area.name %></h2>

    <hr>

    <p>
      <strong><%= @protected_area.designation.name %></strong>
      <%= link_to @country.name, search_path(query: @country.name) %>,
      <%= link_to @region.name, search_path(query: @region.name) %>
      | <%= @protected_area.marine ? "Marine" : "Terrestrial" %> Area
    </p>

    <hr>

    <a data-download-object="<%= @protected_area.countries.first.iso_3 %>" class="btn-download btn btn-primary" href="#">Download the WDPA dataset</a>
  </section>

  <div class="factsheet">
    <section>
      <h3>
        Official record
        <span><i class="fa fa-clock-o"></i> Last updated on <%= @protected_area.created_at.strftime('%e %B %Y') %></span>
      </h3>

      <%= render 'official_record', protected_area: @protected_area %>
    </section>

    <section class="column-left">
      <h3>Wikipedia description</h3>

      <%= render 'wikipedia_box', wikipedia_article: @wikipedia_article %>
    </section>

    <section class="column-right">
      <h3>Images for this area</h3>

      <%= render 'photos_list', images: @protected_area.images %>
    </section>
  </div>
</main>
