<%= content_for :seo, "Learn about and visualise the protected area #{@protected_area.name} (#{@protected_area.designation.try(:name)}), situated in #{@countries.map(&:name).join("; ") rescue "Areas Beyond National Jurisdiction"}" %>
<%= content_for :seo_image, tiles_url(type: "protected_area", id: @protected_area.wdpa_id, version: 1) %>
<%= content_for :page_title, @protected_area.name %>
<%= content_for :footer_classes, "fixed-footer" %>


<% has_designations = @protected_area.networks.detect(&:designation).present? %>

<div class="template--site container--profile container--push-bottom">
  <h1 class="header--h1-small"><%= @protected_area.name %> in <%= link_to '...', '/' %></h1>

  <% if has_designations %>
    <%= render partial: "protected_areas/designations/info_box" %>
  <% end %>

  <div class="header__links">
    <button class="js-download-btn link link--hero-download u-only-desktop tooltip__trigger js-trigger">
      <i class="fa fa-download"></i>Download site GIS file
      <%= download_dropdown(@protected_area.wdpa_id, 'protected_area', (types rescue [:csv, :kml, :shp])) %>
    </button>

    <%= link_to '/', class:'link link--hero-download' do %>
      <i class="fa fa-file-pdf-o"></i>Download site
    <% end %>
  </div>

  <%= render partial: "map" %>

  <%= render partial: "factsheet" %>

  <% if has_designations %>
    <%= render partial: "designations" %>
  <% end %>

  <% if @networks.any? %>
    <%= render partial: "site_network_tabs" %>
  <% end %>

  <%= render partial: "info_footer" %>
</div>
