<% content_for :header do %>
  <h2><%= @protected_area.name %></h2>
<% end %>

<article>
  <h3>Official Record</h3>
  <%= render 'official_record', protected_area: @protected_area %>

  <h3>Data Provider</h3>
  <ul>
    <%= render @protected_area.sources %>
  </ul>

  <ul>
    <li>
      <span><%= Wdpa::DataStandard.percentage_complete(@protected_area).round(2) %></span>
      Data Complete
    </li>
    <li>
      <span><%= Wdpa::DataStandard.data_gaps(@protected_area) %></span>
      Data Gaps
    </li>
    <li>Last Updated sometime</li>
  </ul>
</article>

<div class="protected-area-map" id="map"
  data-zoom-control="topright"
  data-padding-enabled data-bound-from="<%= map_bounds(@protected_area)['from'] %>"
  data-bound-to="<%= map_bounds(@protected_area)['to'] %>"
  data-wdpa-id="<%= @protected_area.wdpa_id %>">
</div>
