<%= render partial: "./partials/bars/topbar-secondary", locals: { download_options: @download_options } %>

<div class="page--site bg--grey-xlight">
  <div class="container">
    <section class="page__section--overview-map">
      <%= render partial: "partials/stats/stats-overview", locals: { 
        area: reported_area,
        location: @locations.html_safe,
        title: @protected_area.name,
        type: map_layer_type,
        wdpa_id: @protected_area.wdpa_id,
        external_links: @presenter.external_links
      } %>
      
      <div class="">
        <%= render partial: "partials/maps/header", locals: {
        map: @map,
        map_options: @map_options
      } %>
      </div>
    </section>

    <div class="card--stats-wrapper">
      <div class="card--stats-half">
        <%= render partial: "partials/stats/stats-attributes", locals: { attributes: @presenter.attributes } %>
      </div>
      <div class="page__col-2">
        <%= render partial: "partials/stats/stats-pame" , locals: { classes: 'page__col-child' } %>
        <%= render partial: "partials/stats/stats-affiliations", locals: { 
          classes: 'page__col-child',
          affiliations: @presenter.affiliations 
        } %>
      </div>
    </div>

    <%= render partial: "partials/stats/stats-sources", locals: { sources: @sources } %>
    
    <%= render partial: "partials/messages/message-citation", locals: { title: @protected_area.name } %>
  </div>  
</div>