<% @projects.each_with_index do |project, i| %>
  <section class="project">
    <div class="project-header">
      <h1><%= best_in_place project, :name, as: :input, activator: "#rename-#{i}" %></h1>
      <h2> (<%= project.items.count %> Items)</h2>
      <h2 class="menu">    
        <a id="rename-<%= i %>">Rename</a> |
        <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete this project?"} %> |
        Download Complete Data Set
        <%= image_tag "icon-download-grey.png", style: "height: 20px;", class: 'icon' %>
      </h2>
    </div>

    <%= render partial: "project_item", collection: project.items %>
  </section>
<% end %>
