<div id="map"></div>

<main>
  <section class="info-card">
    <h2><%= @region.name %></h2>

    <a href="#" class="btn btn-primary">Download the WDPA dataset</a>
   </section>

  <div class="factsheet">
    <section class="box-left pa-count">
      <h3>Protected Areas (PA's)</h3>
      <strong><%= @number_of_pas %></strong>
    </section>

    <section class="box-left iucn-category-pa-count">
      <h3>PA's with IUCN category</h3>
      <strong><%= @pas_with_iucn_category %></strong>
    </section>

    <section class="box-left designation-count">
      <h3>Number of designations</h3>
      <strong><%= @number_of_designations %></strong>
    </section>

    <section class="box-left country-count">
      <h3>Countries providing data</h3>
      <strong><%= @countries_providing_data %></strong>
    </section>
  </div>
</main>
