<div class="protected-area-map" id="map" data-bound-from="<%= @region.bounds.first %>" data-bound-to="<%= @region.bounds.last %>"></div>

<main>
  <section class="info-card">
    <h2><%= @region.name %></h2>

    <hr>

    <a href="#" class="btn btn-primary">Download the WDPA dataset</a>
  </section>

  <div class="factsheet">
    <section class="column-left stats pa-count">
      <h3>Protected Areas (PAs)</h3>
      <p><%= @number_of_pas %></p>
    </section>

    <section class="column-right stats iucn-category-pa-count">
      <h3>PAs with IUCN category</h3>
      <p><%= @pas_with_iucn_category %></p>
    </section>

    <section class="column-right stats designation-count">
      <h3>Number of designations</h3>
      <p><%= @number_of_designations %></p>
    </section>

    <section class="column-left stats country-count">
      <h3>Countries providing data</h3>
      <p><%= @countries_providing_data %></p>
    </section>
  </div>
</main>
