<div class="protected-area-map" id="map" data-bound-from="<%= @region.bounds.first %>" data-bound-to="<%= @region.bounds.last %>" data-region-name="<%= @region.name %>"></div>

<main class="grid">
  <section class="info-card">
    <h2><%= @region.name %></h2>

    <hr>

    <a href="#" data-download-object="<%= @region.iso %>" class="btn btn-primary btn-download">Download the WDPA dataset</a>
  </section>

  <div class="factsheet">
    <%= render "stats/factsheet_protected_areas" %>
    <%= render "stats/factsheet_protected_coverage" %>
    <%= render "stats/factsheet_other_info" %>
  </div>
</main>
