<% get_thematical_areas %>

<h2 class="text-center"><%= @items[:title] %></h2>

<agile class="agile--themes" :options="<%= get_agile_config_themes %>">
  <template slot="prevButton">
    <i class="icon--circle-chevron-green-prev"></i>
  </template>
  <template slot="nextButton">
    <i class="icon--circle-chevron-green-next"></i>
  </template>

  <% @items[:cards].each do |slide| %>
    <div class="agile__slide">
      <%= link_to root_url + slide[:full_path], title: slide[:label], class: "agile__slide-link bg-image-overlay--black" do %>
        <div class="agile__slide-content">
          <h3 class="agile__slide-title h3-big-white"><%= slide[:label] %></h3>
          <p class="agile__slide-intro"><%= cms_fragment_content(:summary, slide) %></p>
          <i class="agile__slide-icon icon--circle-chevron-white %>"></i>
        </div>
      <% end %>
    </div>
  <% end %>
</agile>