<section class="row">
  <div class="half">
    <%= render "country/pdf/facts/number_of_pas" %>
  </div>
  <div class="half">
    <%= render "country/pdf/facts/polygons_points_ratio" %>
  </div>
</section>

<section class="row">
  <%= render "country/pdf/facts/number_of_sources" %>
</section>
<section class="row">
  <%= render "country/pdf/facts/governance_types" %>
</section>

<div style="height: 40px; page-break-before: always"></div>

<section class="row">
  <%= render "country/pdf/facts/coverage_stats" %>
  <%= render "country/pdf/facts/pame_statistics" %>
  <%= render "country/pdf/facts/related_countries" %>
</section>

<div style="height: 40px; page-break-before: always"></div>

<% %w[National Regional International].each do |level| %>
  <section class="row">
    <%= render "country/pdf/facts/designations", {level: level} %>
  </section>
<% end %>
