<nav class="navbar">
  <div class="navbar__element navbar__element--bigger">
    <%= link_to "protected planet", root_path, class: 'protectedplanet-logo' %>
  </div>

  <% unless params[:for_pdf] %>
    <div class="navbar__element navbar__element--right"><%= link_to 'About', '/c/about' %></div>
    <div class="navbar__element navbar__element--right"><%= link_to 'Updates & News', '#' %></div>
    <div class="u-relative navbar__element js-navbar-actionable navbar__element--right">
      <button class="js-resources-dd-trigger">
        Resources <i class="fa fa-chevron-down"></i>
      </button>

      <div class="u-hide js-resources-dd-target dropdown">
        <div class="dropdown__inner">
          <% Comfy::Cms::Category.all.each do |category| %>
            <a class="dropdown__element" href="<%= resources_path(category_id: category.id) %>"><%= category.label %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="navbar__element navbar__element--right"><%= link_to 'Terms & Conditions', '/c/terms-and-conditions' %></div>
    <div class="u-relative navbar__element js-navbar-actionable navbar__element--right">
      <button class="js-thematic-areas-dd-trigger">
        Thematic Areas <i class="fa fa-chevron-down"></i>
      </button>

      <div class="u-hide js-thematic-areas-dd-target dropdown">
        <div class="dropdown__inner">
          <a class="dropdown__element" href="http://wcmc.io/WDPA_Manual">WDPA</a>
          <a class="dropdown__element" href="http://www.parcc-web.org/">PARCC</a>
          <a class="dropdown__element" href="http://www.iccaregistry.org">ICCA</a>
          <a class="dropdown__element" href="http://wcmc.io/pame-report">PAME</a>
        </div>
      </div>
    </div>

    <div class="<%= bem("navbar__element", "with-separator", "right", "bold") %>">
      <a href="<%= root_path %>" class="link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</a>
    </div>
  <% end %>
</nav>

