<nav class="navbar">
  <div class="navbar__element navbar__element--bigger">
    <%= link_to root_path, class: 'protectedplanet-logo' do %>
      protected planet<sup class="protectedplanet-logo__registered">®</sup>
    <% end %>
  </div>

  <% unless @for_pdf %>
    <div class="navbar__element navbar__element--right"><%= link_to 'About', '/c/about' %></div>
    <div class="navbar__element navbar__element--right"><%= link_to 'Updates & News', resources_path(category_id: @updates_and_news.id) %></div>
    <div class="navbar__element js-dropdown navbar__element--right">
      <button class="js-trigger">
        Resources <i class="fa fa-chevron-down"></i>
      </button>

      <div class="u-hide js-target dropdown">
        <div class="dropdown__inner">
          <% Comfy::Cms::Category.of_type("Comfy::Cms::Page").all.each do |category| %>
            <a class="dropdown__element" href="<%= resources_path(category_id: category.id) %>"><%= category.label %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="navbar__element navbar__element--right"><%= link_to 'Terms & Conditions', '/c/terms-and-conditions' %></div>
    <div class="navbar__element navbar__element--right js-dropdown">
      <button class="js-trigger">
        Thematic Areas <i class="fa fa-chevron-down"></i>
      </button>

      <div class="u-hide js-target dropdown">
        <div class="dropdown__inner">
          <a class="dropdown__element" href="<%= cms_page_path(@wdpa_page) %>">WDPA</a>
          <a class="dropdown__element" href="http://parcc.protectedplanet.net/">PARCC</a>
          <a class="dropdown__element" href="http://www.iccaregistry.org">ICCA</a>
          <a class="dropdown__element" href="<%= cms_page_path(@pame_page) %>">PAME</a>
          <a class="dropdown__element" href="<%= cms_page_path(@connectivity_page) %>">Connectivity Conservation</a>
          <a class="dropdown__element" href="https://www.iucn.org/theme/protected-areas/our-work/green-list">Green List</a>
        </div>
      </div>
    </div>

    <div data-dropdown-switch data-dropdown-switch-text class="js-switch js-dropdown <%= bem("navbar__element", "with-separator", "right", "larger", "for-search-dropdown") %>"
    >
      <button class="js-trigger link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</button>
      <div class="u-hide js-target dropdown dropdown--search-dropdown u-font-inherit">
        <form action='/search' method='get' class="search-bar" id="search-form">
          <input autocomplete="off" name="q" placeholder="Search the protected areas of our planet" value='<%= @query %>' class="search-bar__input" type="text">
          <button class="search-bar__submit" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  <% end %>
</nav>

