<div class="u-only-desktop navbar__element navbar__element--push-right"><%= link_to 'About', '/c/about' %></div>

<% if @updates_and_news.present? %>
  <div class="u-only-desktop navbar__element">
    <%= link_to 'Updates & News', resources_path(category_id: @updates_and_news.id) %>
  </div>
<% end %>

<div class="u-only-desktop navbar__element js-dropdown">
  <button class="js-trigger">
    Resources <i class="fa fa-chevron-down"></i>
  </button>

  <div class="u-hide js-target dropdown">
    <div class="dropdown__inner">
      <% Comfy::Cms::Category.of_type("Comfy::Cms::Page").all.each do |category| %>
        <a class="dropdown__element" href="<%= resources_path(category_id: category.id) %>"><%= category.label %></a>
      <% end %>

      <a class="dropdown__element" href="//api.protectedplanet.net">Protected Planet API</a>
    </div>
  </div>
</div>

<div class="u-only-desktop navbar__element"><%= link_to 'Terms & Conditions', '/c/terms-and-conditions' %></div>

<% if @wdpa_page.present? %>
  <div class="js-dropdown u-only-desktop navbar__element">
    <button class="js-trigger">
      Thematic Areas <i class="fa fa-chevron-down"></i>
    </button>

    <div class="u-hide js-target dropdown">
      <div class="dropdown__inner">
        <a class="dropdown__element" href="<%= cms_page_path(@wdpa_page) %>">WDPA</a>
        <a class="dropdown__element" href="http://parcc.protectedplanet.net/">PARCC</a>
        <a class="dropdown__element" href="http://www.iccaregistry.org">ICCA</a>
        <a class="dropdown__element" href="<%= cms_page_path(@pame_page) %>">PAME</a>
        <a class="dropdown__element" href="<%= cms_page_path(@connectivity_page) %>">Connectivity Conservation</a>
        <a class="dropdown__element" href="<%= cms_page_path(@green_list_page) %>">Green List</a>
      </div>
    </div>
  </div>
<% end %>

<div data-dropdown-switch data-dropdown-switch-text class="js-switch js-dropdown <%= bem("navbar__element", "with-separator", "larger", "for-search-dropdown") %> u-only-desktop"
  >
  <button class="js-trigger link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</button>
  <div class="u-hide js-target dropdown dropdown--search-dropdown u-font-inherit">
    <form action='/search' method='get' class="search-bar" id="search-form">
      <input autocomplete="off" name="q" placeholder="Search the protected areas of our planet" value='<%= @query %>' class="search-bar__input" type="text">
      <button class="search-bar__submit" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
