.page-header
  %h2 Call To Action

%p
  %strong CSS Class:
  = @cta.css_class
%p
  %strong Title:
  = @cta.title
%p
  %strong Summary:
  = @cta.summary
%p
  %strong Url:
  = @cta.url
%p
  %strong Updated:
  = @cta.updated.to_s

= link_to 'Call To Actions', admin_call_to_actions_path, :class => 'btn btn-primary'
