<div class="new-styles container--profile container--push-bottom">
  <header class="hero--thematic-area center">
    <%= image_tag 'icons/aichi-11.svg', alt: 'Aichi 11 icon', class: 'icon--aichi margin-center' %>
    <h1 class="hero__title hero__title--article"><%= t('thematic_area.target_11_dashboard.title') %></h1> 
  </header>

  <main>
    <section class="section-padding--top">
      <h2><%= t('thematic_area.target_11_dashboard.subtitle_1') %></h2>

      <carousel class="carousel--basic" :show-arrows="false" :show-all-indicators="true">
        <% @global_stats.each do |stat| %>
          <carousel-slide>

            <tooltip 
              :on-hover="false" 
              text="<%= t("thematic_area.target_11_dashboard.tooltips.#{stat[:id]}") %>"
              class="carousel__tooltip"
            >
              <i class="icon--info-circle block"></i>
            </tooltip>

            <h3 class="carousel__slide-title"><%= stat[:title] %></h3>
            
            <% stat[:charts].each do |chart| %>
              <chart-dial
                title="<%= chart[:title] %>"
                colour="<%= chart[:colour] %>"
                :dial-value="<%= chart[:value] %>"
                :dial-target="<%= chart[:target] %>" 
              ></chart-dial>
            <% end %>
          </carousel-slide>
        <% end %>
      </carousel>
    </section>

    <section class="sm-trigger-sticky-bar section-padding--top">
      <h2><%= t('thematic_area.target_11_dashboard.subtitle_2') %></h2>

      <sticky-bar trigger-element=".sm-trigger-sticky-bar">
        <v-select-searchable 
          class="v-select--searchable"
          :config="<%= @search_config %>" 
          :options="<%= @search_options %>"
        >
        </v-select-searchable>
      </sticky-bar>
      
      <v-table 
        :table-headings="<%= @country_and_regions_headings %>" 
        :data-src="<%= @endpoint.to_json %>"
        trigger-element="sm-trigger-infinite-scroll"
        class="table--horizontal-scroll"
      ></v-table>
    </section>
  </main>
</div>