<%= render partial: "./layouts/partials/hero-basic", locals: { 
  classes: 'thematical-area' ,
  hero_image: cms_fragment_render(:theme_image, @cms_page),
  summary: cms_fragment_render("summary"),
  title: @cms_page.label
} %>

<main v-cloak>
  <section class="page-padding--top">
    <div class="container--desktop-up">

      <flickity ref="flickity" :options="<%= get_config_carousel_t11 %>" class="flickity--basic">
        <% @global_stats.each do |stat| %>
          <div class="carousel-cell">
            <div class="carousel-cell__content">
              <tooltip 
                :on-hover="false" 
                text="<%= getTooltipText(stat[:id]) %>"
                class="carousel-cell__tooltip"
              >
                <i class="svg--info block">
                  <%= render '/partials/svgs/info.svg' %>
                </i>
              </tooltip>

              <h3 class="carousel-cell__title"><%= stat[:title] %></h3>
              
              <% stat[:charts].each do |chart| %>
                <chart-dial
                  title="<%= chart[:title] %>"
                  colour="<%= chart[:colour] %>"
                  :dial-value="<%= chart[:value] == nil ? 0 : chart[:value] %>"
                  <% if chart[:target] != nil %>
                    :dial-target="<%= chart[:target] %>" 
                  <% end %> 
                ></chart-dial>
              <% end %>
            </div>
          </div>
        <% end %>
      </flickity>
    </div>
  </section>

  <section class="page-padding--top section-padding--bottom">
    <div class="container--desktop-up">
      <target-11-dashboard
        class="sm-trigger-sticky-bar"
        :select="<%= @search %>"
        :table-headings="<%= @country_and_regions_headings %>" 
        :table-data-src="<%= @endpoint.to_json %>"
        :tooltip-array="<%= region_and_country_tooltips %>"
      > 
        <slot>
          <i class="svg--info-light block">
            <%= render '/partials/svgs/info.svg' %>
          </i>
        </slot>
      </target-11-dashboard>
    </div>
  </section>
</main>

<%= render "partials/ctas/live-report" %>