<div data-bound-from="<%= map_bounds['from'] %>" data-bound-to="<%= map_bounds['to'] %>" class="protected-area-map" id="map"></div>

<main class="grid">
  <section class="info-card">
    <h2>Protected Areas in the Globe</h2>

    <hr>

    <a href="#" data-download-object="all" class="btn btn-primary btn-download">Download the WDPA dataset</a>
   </section>

  <div class="factsheet">
    <%= render "stats/factsheet_protected_areas" %>
    <%= render "stats/factsheet_protected_coverage" %>
    <%= render "stats/factsheet_other_info" %>
  </div>

</main>
