<% content_for :header do %>
  <nav class="sub-nav">
    <ul class="nav">
      <li><h1><%= @country.name %></h1></li>
      <li><h2>Comparing: <%= @comparison_country.name %></h2></li>
      <li><a href="#">Compare Countries</a></li>
      <li><a href="#">Download Data Set</a></li>
      <li><%= render partial: 'shared/add_to_project', locals: {item: @country, type: 'country'} %></li>
    </ul>
  </nav>
<% end %>

<section id="protected-coverage-viz">
  <div class="countries-compare-left">
    <div class="factsheet">
      <article>
        <h3>Protected Areas Value</h3>
        <div class="inset-statistic-large">
          <span class="extra-large"><%= @presenter.pa_area %></span>
          <div class="text-holder">
            <%= @presenter.pa_land_area %> Km&sup2; Land - <%= @presenter.pa_marine_area %> Km&sup2; Marine<br>
            <%= @presenter.percentage_pa_cover %>% Protected
          </div>
        </div>
        Total Area (Sq Km)
        <table class="centered">
          <tbody>
            <tr>
              <td>
                <div class="viz" data-colour="#2B3146" data-value="<%= @presenter.percentage_pa_land_cover %>"></div>
                <div class="viz-label">
                  <p><span class="big"><%= @presenter.percentage_pa_land_cover %></span><span class="small">%</span></p>
                  <label>Land Area Protected</label>
                </div>
              </td>
              <td>
                <div class="viz" data-colour="#2B3146" data-value="<%= @presenter.percentage_pa_marine_cover %>"></div>
                <div class="viz-label">
                  <p><span class="big"><%= @presenter.percentage_pa_marine_cover %></span><span class="small">%</span></p>
                  <label>Marine Area Protected</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= @presenter.land_area %></strong> Km&sup2; Land Area
              </td>
              <td>
                <strong><%= @presenter.marine_area %></strong> Km&sup2; Marine Area
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= @presenter.pa_land_area %></strong> Km&sup2; Protected
              </td>
              <td>
                <strong><%= @presenter.pa_marine_area %></strong> Km&sup2; Protected
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="conservation-statistics">
        <h3>Conservation Statistics</h3>
        <hr>
          <div class="inset-statistic">
            <span class="large"><%= @country.protected_areas.count %></span>
            <div class="text-holder">
              Protected Areas<br>
              ??? Land, ??? Marine
            </div>
          </div>

          <div class="inset-statistic">
            <span class="large"><%= @presenter.percentage_pa_cover %>%</span>
            <div class="text-holder">
              Protected
            </div>
          </div>
        <hr>
          <strong><%= @country.protected_areas_with_iucn_categories.count %></strong> have an IUCN Category. IUCN has defined a series of six protected area management categories, based on primary management objectives.<br><br>
          <table>
            <tbody>
              <% @country.iucn_categories.each do |c| %>
                <tr>
                  <td>
                    <strong><%= c.name %></strong>
                  </td>
                  <td class="right-aligned">
                    (<%= c.protected_areas.count %>)
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <hr>
      </article>
      <article>
        <h3>Designations</h3>
        <table>
          <tbody>
            <% @country.designations.each do |d| %>
              <tr>
                <td>
                  <strong><%= d.name %></strong>
                </td>
                <td class="right-aligned">
                  (<%= d.protected_areas.count %>)
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
      <article>
        <h3>Protected Areas in <%= @country.name %></h3>
        <% @country.protected_areas.order("RANDOM()").limit(2).each do |pa| %>
          <%= image_tag(pa.random_image_url, size: '225') %>
        <% end %>
      </article>
    </div>
  </div>

  <div class="countries-compare-right">
    <div class="factsheet">
      <article>
        <h3>Protected Areas Value</h3>
        <div class="inset-statistic-large">
          <span class="extra-large"><%= @comparison_presenter.pa_area %></span>
          <div class="text-holder">
            <%= @comparison_presenter.pa_land_area %> Km&sup2; Land - <%= @comparison_presenter.pa_marine_area %> Km&sup2; Marine<br>
            <%= @comparison_presenter.percentage_pa_cover %>% Protected
          </div>
        </div>
        Total Area (Sq Km)
        <table class="centered">
          <tbody>
            <tr>
              <td>
                <div class="viz" data-colour="#2B3146" data-value="<%= @comparison_presenter.percentage_pa_land_cover %>"></div>
                <div class="viz-label">
                  <p><span class="big"><%= @comparison_presenter.percentage_pa_land_cover %></span><span class="small">%</span></p>
                  <label>Land Area Protected</label>
                </div>
              </td>
              <td>
                <div class="viz" data-colour="#2B3146" data-value="<%= @comparison_presenter.percentage_pa_marine_cover %>"></div>
                <div class="viz-label">
                  <p><span class="big"><%= @comparison_presenter.percentage_pa_marine_cover %></span><span class="small">%</span></p>
                  <label>Marine Area Protected</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= @comparison_presenter.land_area %></strong> Km&sup2; Land Area
              </td>
              <td>
                <strong><%= @comparison_presenter.marine_area %></strong> Km&sup2; Marine Area
              </td>
            </tr>
            <tr>
              <td>
                <strong><%= @comparison_presenter.pa_land_area %></strong> Km&sup2; Protected
              </td>
              <td>
                <strong><%= @comparison_presenter.pa_marine_area %></strong> Km&sup2; Protected
              </td>
            </tr>
          </tbody>
        </table>
      </article>
      <article class="conservation-statistics">
        <h3>Conservation Statistics</h3>
        <hr>
          <div class="inset-statistic">
            <span class="large"><%= @comparison_country.protected_areas.count %></span>
            <div class="text-holder">
              Protected Areas<br>
              ??? Land, ??? Marine
            </div>
          </div>

          <div class="inset-statistic">
            <span class="large"><%= @comparison_presenter.percentage_pa_cover %>%</span>
            <div class="text-holder">
              Protected
            </div>
          </div>
        <hr>
          <strong><%= @comparison_country.protected_areas_with_iucn_categories.count %></strong> have an IUCN Category. IUCN has defined a series of six protected area management categories, based on primary management objectives.<br><br>
          <table>
            <tbody>
              <% @comparison_country.iucn_categories.each do |c| %>
                <tr>
                  <td>
                    <strong><%= c.name %></strong>
                  </td>
                  <td class="right-aligned">
                    (<%= c.protected_areas.count %>)
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <hr>
      </article>
      <article>
        <h3>Designations</h3>
        <table>
          <tbody>
            <% @comparison_country.designations.each do |d| %>
              <tr>
                <td>
                  <strong><%= d.name %></strong>
                </td>
                <td class="right-aligned">
                  (<%= d.protected_areas.count %>)
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
      <article>
        <h3>Protected Areas in <%= @comparison_country.name %></h3>
        <% @comparison_country.protected_areas.order("RANDOM()").limit(2).each do |pa| %>
          <%= image_tag(pa.random_image_url, size: '225') %>
        <% end %>
      </article>
    </div>
  </div>
</section>