<% content_for :header do %>
  <nav class="sub-nav">
    <ul class="nav">
      <li><h1><%= @country.name %>, <%= @country.region.name %></h1></li>
      <li><h2>Comparing: <%= @comparison_country.name %>, <%= @comparison_country.region.name %></h2></li>
      <li><%= link_to 'Compare Countries', new_countries_comparison_path %></li>
      <li><a href="#">Download Data Set</a></li>
      <li><%= render partial: 'shared/add_to_project', locals: {item: @country, type: 'country'} %></li>
    </ul>
  </nav>
<% end %>

<section id="protected-coverage-viz">
  <div class="countries-compare-left">
    <%= render partial: 'factsheet', locals: {presenter: @presenter, country: @country} %>
  </div>

  <div class="countries-compare-right">
    <%= render partial: 'factsheet', locals: {presenter: @comparison_presenter, country: @comparison_country} %>
  </div>
</section>
