<div class="protected-area-map" id="map" data-bound-from="<%= @country.bounds.first %>" data-bound-to="<%= @country.bounds.last %>"></div>

<main class="grid">
  <section class="info-card">
    <h2><%= @country.name %></h2>

    <hr>

    <p>
      <%= link_to @country.region.name, search_path(q: @country.region.name) %>
    </p>

    <hr>

    <a href="#" data-download-object="<%= @country.iso_3 %>" class="btn btn-primary btn-download">Download the WDPA <%= @country.name %> dataset</a>
   </section>

  <div class="factsheet">
    <section class="column-left stats pa-count">
      <h3>Protected Areas (PAs)</h3>
      <p>
        <%= image_tag "map-marker@2x.png", style: "width: 29px; height: 44px" %>
        <%= commaify @number_of_pas %>
      </p>
    </section>

    <section class="column-right stats iucn-category-pa-count">
      <h3>PAs with IUCN category</h3>
      <p>
        <%= image_tag "IUCN@2x.png", style: "width: 50px; height: 49px" %>
        <%= commaify @pas_with_iucn_category %>
      </p>
    </section>

    <section class="column-right stats designation-frequency">
      <h3>Designations by frequency</h3>
      <%= render 'designations_list', designations_by_frequency: @designations_by_frequency %>
    </section>

    <section class="column-left stats designation-count">
      <h3>Number of designations</h3>
      <p>
        <%= image_tag "designation@2x.png", style: "width: 38px; height: 49px" %>
        <%= commaify @number_of_designations %>
      </p>
    </section>
  </div>
</main>
