<div class="protected-area-map" id="map" data-bound-from="<%= @country.bounds.first %>" data-bound-to="<%= @country.bounds.last %>" data-iso3="<%= @country.iso_3 %>"></div>

<main class="grid">
  <section class="info-card">
    <h2><%= @country.name %></h2>

    <hr>

    <p>
      <%= link_to @country.region.name, search_path(q: @country.region.name) %>
    </p>

    <hr>

    <a href="#" data-download-object="<%= @country.iso_3 %>" class="btn btn-primary btn-download">Download the WDPA <%= @country.name %> dataset</a>
   </section>

  <div class="factsheet">
    <%= render "stats/factsheet_protected_areas" %>
    <%= render "stats/factsheet_protected_coverage" %>
    <%= render "stats/country/factsheet_other_info" %>
  </div>
</main>
