<div id="map"></div>

<div class="container">
  <main>
    <section class="info-card">
      <h2><%= @country.name %></h2>

      <a href="#" class="btn">Download the WDPA dataset</a>
     </section>

    <div class="factsheet">

      <section class="box-left">
        <h3>Protected Areas (PA's)</h3>
        <strong><%= @number_of_pas %></strong>
      </section>

      <section class="box-left">
        <h3>PA's with IUCN category</h3>
        <strong><%= @pas_with_iucn_category %></strong>
      </section>

      <section class="box-left">
        <h3>Territories covered by pas</h3>
        <strong></strong>
      </section>

      <section class="box-right">
        <h3>Number of designations</h3>
        <strong><%= @number_of_designations %></strong>
      </section>

      <section class="designations-box">
        <h3>Designations by frequency</h3>
        <%= render 'designations_list', designations_by_frequency: @designations_by_frequency %>
      </section>


    </div>
  </main>
</div>

<script>
  function initializeMap()

  $(document).ready(initializeMap);
  $(document).on('page:load', initializeMap);
</script>