<%= render partial: "./layouts/partials/hero-area-types", locals: { 
    title: @cms_page.label, 
    classes: "#{@cms_page.slug} bg-image-overlay--white",
    summary: cms_fragment_render("summary"),
    button_area_search_url: wdpa_search_path,
    button_area_search_text: t('thematic_area.wdpa.button-area-search-text')
  }
%>

<section class="container">
  <%= cms_fragment_render("content") %>

  <%#= render "partials/search/protected-areas" %>
</section>

<section>
  <%= render partial: "partials/maps/main" %>
</section>

<section class="container section-padding">
  <%= render "partials/cards/resources" %>
</section>

<section class="section-padding--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>