<%= render partial: "./layouts/partials/hero-area-types", locals: { 
    title: @cms_page.label, 
    classes: "#{@cms_page.slug} bg-image-overlay--white",
    summary: cms_fragment_render("summary"),
    button_area_search_url: wdpa_search_path,
    button_area_search_text: t('thematic_area.wdpa.button-area-search-text')
  }
%>

<%

@tabs = {
  triggers: [
    {
      id: 1,
      title: cms_fragment_render("tab-title-1")
    },
    {
      id: 2,
      title: cms_fragment_render("tab-title-2")
    },
    {
      id: 3,
      title: cms_fragment_render("tab-title-3")
    }   
  ],
  targets: [
    {
      id: 1,
      content: cms_fragment_render("tab-content-1")
    },
    {
      id: 2,
      content: cms_fragment_render("tab-content-2")
    },
    {
      id: 3,
      content: cms_fragment_render("tab-content-3")
    }   
  ]
}

%>

<section class="container">
  <tabs
    :tabs="<%= @tabs.to_json %>"
  >
  </tabs>
</section>

<section class="container">
  <%= cms_fragment_render("content") %>

  <%#= render "partials/search/protected-areas" %>
</section>

<section>
  <%= render partial: "partials/maps/main" %>
</section>

<section class="container section-padding">
  <%= render "partials/cards/resources" %>
</section>

<section class="section-padding--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>