<section class="container">
  <div class="container--component">
    <h2><%= title %></h2>
    <div><%= content %></div>
    <div>

      <% charts.each do |chart| %>
        <% if chart[:title] %>
          <h3><%= chart[:title] %></h3>
        <% end %>
        
        <chart-row-pa 
          coverage="<%= chart[:coverage] %>" 
          percent="<%= chart[:total] %>" 
          theme="<%= chart[:theme] %>"
        ></chart-row-pa>

      <% end %>
      
      <div class="chart--legend--horizontal">
        <div class="chart__legend-item">
          <span class="chart__legend-key theme--aqua"></span>
          <span class="chart__legend-text"><%= t('thematic_area.marine.ocean.legend-text') %></span>
        </div>
      </div>
    </div>
  </div>
</section>
