<%= content_for :seo, "Learn about and visualise the protected area #{@protected_area.name} (#{@protected_area.designation.try(:name)}), situated in #{@countries.map(&:name).join("; ") rescue "Areas Beyond National Jurisdiction"}" %>
<%= content_for :seo_image, tiles_url(type: "protected_area", id: @protected_area.wdpa_id, version: 1) %>
<%= content_for :page_title, @protected_area.name %>

<% has_designations = @protected_area.networks.detect(&:designation).present? %>

<div class="template--site container--profile container--push-bottom pdf--protected-area">
  <h1 class="header--h1-small">
    <%= link_to 'Green List: ', '/search?is_green_list=t,T,true,TRUE' %>
    <%= @protected_area.name %> in
    <% if @countries.any? %>
      <% @countries.each_with_index do |country, i| %>
        <%= link_to country.name, country_path(country.iso) %><%= ", " if i < @countries.length - 2 %><%= " and " if i == @countries.length - 2 %>
      <% end %>
    <% else %>
      <a href="#">Areas Beyond National Jurisdiction</a>
    <% end %>
  </h1>


  <% if has_designations %>
    <% unless @for_pdf %>
      <%= render partial: "protected_areas/designations/info_box" %>
    <% end %>
  <% end %>

  <% unless @for_pdf %>
    <div class="header__links">
      <button class="js-download-btn link link--hero-download u-only-desktop tooltip__trigger js-trigger">
        <i class="fa fa-download"></i>Download site GIS file
        <%= download_dropdown(@protected_area.wdpa_id, 'protected_area', (types rescue [:csv, :kml, :shp])) %>
      </button>

      <%= link_to url_for(action: :show, id: @protected_area.wdpa_id, format: :pdf), class: 'link link--hero-download' do %>
        <i class="fa fa-file-pdf-o"></i>Download site
      <% end %>
    </div>
  <% end %>

  <%= render partial: "protected_areas/map_and_image_site" %>

  <article class="three-thirds article s-article u-margin--y">
    <h1 class="article__title">The IUCN Green List Standard</h1>
    <p class="article__paragraph">
      The IUCN Green List Standard is organised into four components of successful nature conservation in protected and conserved areas.
      The baseline components concern:

      <ul>
        <li>Good Governance</li>
        <li>Sound Design and Planning</li>
        <li>Effective Management</li>
      </ul>
    </p>

    <p class="article__paragraph">Together, these support the component on Successful Conservation Outcomes attesting to the successful achievement of an area's goals and objectives. Each component has a set of criteria, and each criterion has a set of indicators to measure achievement.</p>

    <p class="article__paragraph">
      The Criteria are globally consistent requirements that collectively describe the efforts needed to fully achieve the Standard. A Green List site is one that is currently evaluated to achieve all criteria, across all four components. The standard is implemented through a jurisdictional approach, tailored to each country or region where it is adopted. The programme allows for flexibility for each jurisdiction to implement the Standard. For each criterion in the standard, a set of generic indicators and associated means of verification is maintained by IUCN. These generic indicators may be adapted to the context of each participating jurisdiction, to allow for reflection of regional and local characteristics and circumstances in which protected and conserved areas operate.
    </p>

    <%= link_to "Click here for more information about the process that underpins the IUCN Green List of Protected and Conserved Areas", cms_page_path(@green_list_page) %>
  </article>

  <%= render partial: "protected_areas/info_footer" %>
</div>
