<%#= render partial: "./layouts/partials/hero-small", locals: { title: @cms_page.label, classes: "#{@cms_page.slug }" %>
<%= render partial: "./layouts/partials/hero-small", locals: { title: 'needs pulling in from cms', classes: ""} %>

<div>
  <search-areas
    :config-autocomplete="<%= @config_search_areas %>"
    endpoint-autocomplete="/search/autocomplete"
    endpoint-pagination="<%= search_areas_results_path(filters: @filters) %>"
    endpoint-search="<%= search_areas_results_path(filters: @filters) %>"
    :filter-groups="<%= @filter_groups.to_json %>"
    no-results-text="<%= t('search.no-results') %>"
    sm-trigger-element="sm-trigger-infinite-scroll"
    :tabs="<%= @tabs.to_json %>"
    text-download="<%= t('search.download') %>"
    text-filters="<%= t('search.filters') %>"
    text-filters-text="View Results"
    text-map="<%= t('search.map') %>"
    :results="<%= @results.to_json %>"
  >
    <template v-slot:download>
      <%= render partial: "partials/download/download", locals: {
        classes: 'download--search',
        options: @download_options
      } %>
    </template>

    <template v-slot:map>
      <%= render partial: "partials/maps/main", locals: {
        map: @map
      } %>
    </template>
  </search-areas>
</div>