<% if cta_live_report %>
  <section class="cta--<%= cta_live_report.css_class %> bg--grey-xdark">
    <div class="container">
      <div class="cta__content">
        <% if cta_live_report.updated %>
          <span class="cta__ribbon"><%= t('global.status.updated') %></span>
        <% end %>

        <div class="cta__text">
          <h2 class="cta__title h2-big"><%= cta_live_report.title %></h2>
          <p class="cta__intro text-intro"><%= cta_live_report.summary %></p>
        </div>

        <%= link_to t('ctas.live_report.button'), cta_live_report.url, target: '_blank', class: 'button--accent flex-no-shrink' %>
      </div>
    </div>
  </section>
<% end %>