<header 
  class="hero--thematic bg-image-overlay--white <%= page_type_class_name %>__hero <%= get_local_classes local_assigns %>"
  <% if local_assigns.has_key? :image %>
    style="background-image: url('<%= image %>')"
  <% end %>
>
  <div class="hero__container container <%= page_type_class_name %>__container">
    <div class="hero__content <%= page_type_class_name %>__content">
      <h1><%= title %></h1>

      <% if local_assigns.has_key? :summary %>
        <p class="hero__intro"><%= summary %></p>
      <% end %>

      <%= link_to button_text, button_url, title: button_text, class: 'button--primary' %>

      <% if (local_assigns.has_key? :hero_small_text) && (local_assigns.has_key? :hero_small_text_url) %>
        <%= link_to hero_small_text, hero_small_text_url, class: 'hero__small-text', title: 'hero_small_text' %>
      <% end %>
    </div>
    
    <div class="hero__stats <%= page_type_class_name %>__stats">
      <div class="hero__stats-content bg--grey-black sm-home-hero-stats <%= page_type_class_name %>__stats-content">
        <% stats_items.each_with_index do |stat_item, index| %>
          <div class="<%= page_type_class_name %>__stat-item">
            <% small_number = stat_item[:small_number] == true %>
            <div class="<%= page_type_class_name + '__stat-number'%> <%= small_number ? 'hero__stat-number-small' : 'hero__stat-number' %>">
              <counter
                :total="<%= stat_item[:total] %>"
                trigger="sm-home-hero-stats"
                :decimal="<%= stat_item[:decimal] || 0 %>"
              ></counter><%= stat_item[:suffix].to_s.html_safe %>
            </div>
            <span class="hero__stat-text"><%= stat_item[:text] %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
