<header 
  class="hero--thematic bg-image-overlay--white <%= get_local_classes local_assigns %>"
  <% if local_assigns.has_key? :hero_image %>
    style="background-image: url('<%= hero_image %>')"
  <% end %>
>
  <div class="hero__container container">
    <div class="hero__content">
      <h1><%= title %></h1>

      <% if local_assigns.has_key? :summary %>
        <p class="hero__intro"><%= summary %></p>
      <% end %>

      <%= link_to button_text, button_url, title: button_text, class: 'button--primary' %>

      <% if (local_assigns.has_key? :hero_small_text) && (local_assigns.has_key? :hero_small_text_url) %>
        <%= link_to hero_small_text, hero_small_text_url, class: 'hero__small-text', title: 'hero_small_text' %>
      <% end %>
    </div>
    
    <div class="hero__stats">
      <div class="hero__stats-content bg--grey-black sm-home-hero-stats">
        <div>
          <div class="hero__stat-number">
            <counter 
              :total="<%= 10 %>" 
              trigger="sm-home-hero-stats" 
              :decimal="2"
            ></counter>%
          </div>
          <span class="hero__stat-text"><%= stat_text_1 %></span>
        </div>
        <div>
          <counter 
            class="hero__stat-number-small"
            :total="<%= 10 %>" 
            trigger="sm-home-hero-stats" 
            :decimal="0"
          ></counter>
          <span class="hero__stat-text"><%= stat_text_2 %></span>
        </div>
        <div>
          <div class="hero__stat-number-small">
            <counter 
              :total="<%= 10 %>" 
              trigger="sm-home-hero-stats" 
              :decimal="0"
            ></counter>km<sup>2</sup>
          </div>
          <span class="hero__stat-text"><%= stat_text_3 %></span>
        </div>
      </div>
    </div>
  </div>
</header>
