<header class="hero--home">
  <div class="hero__container container">
    <div class="hero__text">
      <h1 class="h1-home"><%= t('home.title') %></h1>
      <p class="hero__intro"><%= t('home.intro') %></p>

      <%= link_to t('home.button'), '/', title: t('home.button'), class: 'button--outline-black' %>
    </div>
    <div>
      <div class="hero__stats circle--grey-dark">
        <span class="hero__stat-number"><%= @total_pas %></span>
        <span class="hero__stat-text"><%= t('home.stat_text_1') %></span>
        <span class="hero__stat-number"><%= @total_oecms %></span>
        <span class="hero__stat-text"><%= t('home.stat_text_2') %></span>
      </div>
    </div>
  </div>
</header>