<header class="hero--home">
  <div class="hero__container">
    <div>
      <h1><%= t('home.title') %></h1>
      <p><%= t('home.intro') %></p>

      <% link_to t('home.title'), '/', title: t('home.title'), class: 'button--outline' %>
    </div>
    <div>
      <div class="header__stats">
        <span><%= @total_pas %></span>
        <span><%= t('home.stat_text_1') %></span>
        <span><%= @total_oecms %></span>
        <span><%= t('home.stat_text_2') %></span>
      </div>
    </div>
  </div>
</header>