<div class="topbar">
  <div class="topbar__container container">
    <%= link_to root_path, title: '#TODO', class: 'topbar__logo' do %>
      <i class="logo--protected-planet"></i>  
    <% end %>

    <% unless @for_pdf %>

<!--       <div ontouchend="this.onclick=touchHoverFix" class="burger navbar__burger is-closed js-trigger js-switch">
        <span class="burger-icon navbar__burger-icon"></span>
      </div> -->
      
      <nav-burger :links="<%= get_nav_primary_links %>" class="topbar__nav nav--primary"></nav-burger>

      <!-- <div class="navbar__menu u-hide js-target">
        <%= link_to 'About', '/c/about', class: "navbar__element" %>

        <%= link_to 'Blog', '/c/blog', class: "navbar__element" %>

        <div class="navbar__element navbar__element--submenu js-dropdown">
          <button class="navbar__submenu__title js-trigger">Resources</button>

          <div class="u-hide js-target navbar__submenu dropdown">
            <% Comfy::Cms::Category.of_type("Comfy::Cms::Page").all.each do |category| %>
              <a class="navbar__submenu__link" href="<%= resources_path(category_id: category.id) %>"><%= category.label %></a>
            <% end %>

            <a class="navbar__submenu__link" href="//api.protectedplanet.net">Protected Planet API</a>
          </div>
        </div>

        <%= link_to 'Terms & Conditions', '/c/terms-and-conditions', class: "navbar__element" %>

        <div class="navbar__element navbar__element--submenu js-dropdown">
          <button class="navbar__submenu__title js-trigger">Thematic Areas</button>

          <div class="u-hide js-target navbar__submenu dropdown">
            <div class="navbar__submenu">
              <a class="navbar__submenu__link" href="<%#= target_dashboard_path %>">Aichi Target 11 Dashboard</a>
              <a class="navbar__submenu__link" href="<%#= cms_page_path(@wdpa_page) %>">WDPA</a>
              <a class="navbar__submenu__link" href="<%#= marine_path %>">Marine Protected Areas</a>
              <a class="navbar__submenu__link" href="http://www.iccaregistry.org">ICCA</a>
              <a class="navbar__submenu__link" href="<%#= cms_page_path(@pame_page) %>">PAME</a>
              <a class="navbar__submenu__link" href="http://parcc.protectedplanet.net/">PARCC</a>
              <a class="navbar__submenu__link" href="<%#= cms_page_path(@connectivity_page) %>">Connectivity Conservation</a>
              <a class="navbar__submenu__link" href="<%#= cms_page_path(@green_list_page) %>">Green List</a>
              <a class="navbar__submenu__link" href="<%#= cms_page_path(@equity_page) %>">Equity and Protected Areas</a>
            </div>
          </div>
        </div>

        <%= link_to 'Live Report', 'https://livereport.protectedplanet.net', class: "navbar__element u-bold", title: 'View the Protected Planet Live Report', target: '_blank' %> -->
    
        <div data-dropdown-switch data-dropdown-switch-text class="topbar__search js-switch js-dropdown <%= bem("navbar__element", "with-separator", "for-search-dropdown") %>">
          <button class="js-trigger link-with-icon link-with-icon--no-color link-with-icon--no-underline navbar__element--search"><i class="fa fa-search"></i></button>
          <div class="u-hide js-target dropdown dropdown--search-dropdown u-font-inherit">
            <form action='/search' method='get' class="search-bar" id="search-form">
              <input autocomplete="off" name="q" placeholder="Search the protected areas of our planet" value='<%= @query %>' class="search-bar__input" type="text">
              <button class="search-bar__submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      <!-- </div> -->
    <% end %>
  </div>
</div>