<ul class="key-records">
  <li><p>WDPA ID</p> <strong><%= protected_area.wdpa_id %></strong></li>
  <li><p>Reported Area KM&sup2;</p>  <strong><%= protected_area.reported_area %></strong></li>
  <li><p>English Designation</p>  <strong title="<%= protected_area.designation.name %>"><%= protected_area.designation.name %></strong></li>
  <li><p>IUCN Category</p> <strong><%= protected_area.iucn_category.name %></strong></li>
</ul>

<div class="data-provider">
  <h5>Data Provider</h5>
  <ul>
    <% if @protected_area.sources.any? %>
      <%= render @protected_area.sources %>
    <% else %>
      <li>Not Reported</li>
    <% end %>
  </ul>
</div>

<table>
  <tbody>
    <tr>
      <td>
        <strong>Status</strong>
        <%= protected_area.legal_status.name %>
      </td>
      <td>
        <strong>Type of Designation</strong>
        <%= protected_area.designation.jurisdiction.try(:name) %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Status Year</strong>
        <%= if protected_area.legal_status_updated_at then protected_area.legal_status_updated_at.strftime('%Y') end %>
      </td>
      <td>
        <strong>Sublocation</strong>
        <%= protected_area.sub_locations.map(&:iso).join(', ') %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Governance Type</strong>
        <%= protected_area.governance.try(:name) %>
      </td>
    </tr>

  </tbody>
</table>
