<h2 class="header--section u-margin--page">WDPA ID</h2>
<p class="u-margin--page attribute--large attribute__value attribute--bold"><%= @protected_area.wdpa_id %></p>

<h2 class="header--section u-margin--page">Reported Area</h2>
<p class="u-margin--page attribute--xlarge attribute__value attribute--bold"><%= reported_area %></p>

<% if @protected_area.has_parcc_info %>
  <h2 class="header--section u-margin--page">Vulnerability Assessment</h2>
  <p class="u-margin--page attribute__value attribute--bold flex-row-wrap align-items-center">
    <%= image_tag "parcc-logo-title.png", width: "80", height: "auto", alt: "PARCC Logo" %>
    <%= link_to url_for_related_source('parcc_info', @protected_area), class: "attribute__link-margin", title: "View the climate change vulnerability assessments for #{@protected_area.name}" do %>
      Present
      <i class="fa fa-external-link attribute__icon"></i>
    <% end %>
  </p>
<% end %>

<% if @protected_area.is_green_list %>
  <h2 class="header--section u-margin--page">Green List</h2>
  <p class="u-margin--page attribute__value attribute--bold flex-row-wrap align-items-center">
    <%= image_tag "green_list/logo.png", width: '80' %>

    <%= link_to green_list_path(@protected_area.slug), class: "attribute__link-margin", title: "View the Green List page for #{@protected_area.name}" do %>
      View Green List page
      <i class="fa fa-external-link attribute__icon"></i>
    <% end %>
  </p>
<% end %>

<div class="info-box info-box--fill-color info-box--factsheet info-box--margin-top u-margin--page-right">
  <h3 class="icon--info info-box__header">Data Provider</h3>
  <% if @protected_area.sources.any? %>
    <%= render @protected_area.sources %>
  <% else %>
    <p>Not Reported</p>
  <% end %>
</div>

<% if @protected_area.story_map_links.any? %>
    <h2 class="header--section u-margin--page">Link to story map</h2>
    <% @protected_area.story_map_links.each do |story_map_link| %>
      <p class="u-margin--page"><%= link_to "Story Map(#{story_map_link.link_type})", story_map_link.link, class: 'link is-external', title: 'view the Story map', target: '_blank'%></p>
    <% end %>
<% end %>
