<section class="cell four annular" id="protected-coverage-viz">

  <header class="stats light">
    <h3>Territory covered by PAs</h3>
  </header>

  <% if @presenter.percentage_pa_cover %>
    <section class="annular-stat">
      <div class="viz" data-colour="#f3b74d" data-value="<%= @presenter.percentage_pa_cover %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @presenter.percentage_pa_cover %></span><span class="small">%</span></p>
        <label>of the <%= @focus %></label>
      </div>
    </section>
  <% end %>

  <% if @presenter.percentage_pa_land_cover %>
    <section class="annular-stat">
      <div class="viz" data-colour="#9d857c" data-value="<%= @presenter.percentage_pa_land_cover %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @presenter.percentage_pa_land_cover %></span><span class="small">%</span></p>
        <label>of the land</label>
      </div>
    </section>
  <% end %>

  <% if @presenter.percentage_pa_eez_cover %>
    <section class="annular-stat">
      <div class="viz" data-colour="#5395a7" data-value="<%= @presenter.percentage_pa_eez_cover %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @presenter.percentage_pa_eez_cover %></span><span class="small">%</span></p>
        <label>of the sea</label>
      </div>
    </section>
  <% end %>

  <% if @presenter.percentage_pa_ts_cover %>
    <section class="annular-stat">
      <div class="viz" data-colour="#36b4d2" data-value="<%= @presenter.percentage_pa_ts_cover %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @presenter.percentage_pa_ts_cover %></span><span class="small">%</span></p>
        <label>of the coast</label>
      </div>
    </section>
  <% end %>

</section>
