<section class="cell four annular" id="protected-coverage-viz">

  <header class="stats light">
    <h3>Territory covered by PAs</h3>
  </header>

  <% if @percentage_protected %>
    <section class="annular-stat">
      <div class="viz" data-colour="#f3b74d" data-value="<%= @percentage_protected %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @percentage_protected %></span><span class="small">%</span></p>
        <label>of the <%= @focus %></label>
      </div>
    </section>
  <% end %>

  <% if @percentage_protected_land %>
    <section class="annular-stat">
      <div class="viz" data-colour="#9d857c" data-value="<%= @percentage_protected_land %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @percentage_protected_land %></span><span class="small">%</span></p>
        <label>of the land</label>
      </div>
    </section>
  <% end %>

  <% if @percentage_protected_sea %>
    <section class="annular-stat">
      <div class="viz" data-colour="#5395a7" data-value="<%= @percentage_protected_sea %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @percentage_protected_sea %></span><span class="small">%</span></p>
        <label>of the sea</label>
      </div>
    </section>
  <% end %>

  <% if @percentage_protected_coast %>
    <section class="annular-stat">
      <div class="viz" data-colour="#36b4d2" data-value="<%= @percentage_protected_coast %>"></div>
      <div class="viz-label">
        <p><span class="big"><%= @percentage_protected_coast %></span><span class="small">%</span></p>
        <label>of the coast</label>
      </div>
    </section>
  <% end %>

</section>
