<section class="spacer-large--medium">
  <%= render partial: "./layouts/partials/hero-basic", locals: { 
    title: t('global.redirect.title'),
    summary: t('global.redirect.text', url: root_url).html_safe
  } %>
</section>


<section class="container spacer-small--bottom">
  <%= render "partials/cards/articles" %>
</section>

<section class="container spacer-small--top">
  <%= render "partials/cards/resources" %>
</section>

<section class="spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>