<section class="spacer-small--top spacer-small--bottom">
  <%= render "layouts/404-content" %>
</section>

<section class="container spacer-small--bottom">
  <%= render "partials/cards/articles" %>
</section>

<section class="container spacer-small--top">
  <%= render "partials/cards/resources" %>
</section>

<section class="spacer-small--bottom">
  <%= render "partials/carousels/themes" %>
</section>

<%= render "partials/ctas/live-report" %>