<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= page_title('Protected Planet') %></title>

  <!-- google -->
  <meta name="Description" content="<%= seo_description %>">
  <meta name="twitter:description" content="<%= seo_description %>">

  <!-- Twitter -->
  <meta name="twitter:site" content="@protectedplanet">
  <meta name="twitter:title" content="<%= page_title('Protected Planet') %>">

  <!-- FB -->
  <meta name="og:site_name" content="Protected Planet">
  <meta name="og:title" content="<%= page_title('Protected Planet') %>">
  <meta name="og:description" content="<%= seo_description %>">
  <meta name="og:url" content="<%= request.original_url %>">
  <meta name="og:type" content="website">

  <% if content_for?(:seo_image) %>
    <meta content="<%= yield :seo_image %>" name="og:image">
    <meta content="<%= yield :seo_image %>" name="twitter:image">
  <% end %>

  <!-- IE stuff -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv/dist/html5shiv.min.js" %>
  <![endif]-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="manifest" href="/manifest.json">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <% if @for_pdf %>
    <%= stylesheet_link_tag 'pdf', media: 'all' %>    
  <% end %>
</head>

<body>
  <main class="body-container <%= controller_name %>-parent">
    <header class="js-expandable-section">
      <%= render 'layouts/application/navbar' %>
      <%= yield :header %>
    </header>

      <%= yield %>
  </main>

  <%= render "layouts/application/footer" %>

  <%= render 'shared/download_modal' %>

  <%= javascript_include_tag controller_name %>

  <% if Rails.env == 'production' %>
    <%= render 'shared/hotjar' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</body>
</html>
