<!DOCTYPE html>
<html>
<head>
  <title><%= page_title("Protected Planet") %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag controller_name %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <header>
      <nav class="nav-main">
        <ul>
          <li class="logo">
            <%= link_to "Protected Planet", root_path %>
          </li>
        </ul>

        <ul class="right">
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Reports', "http://blog.protectedplanet.net" %></li>
          <li><%= link_to 'UN List', "http://blog.protectedplanet.net/post/102481051829/2014-united-nations-list-of-protected-areas" %></li>

          <li class="search-button">
            <%= link_to "Protected Planet", root_path %>
          </li>
        </ul>
      </nav>

      <div class="search-bar">
        <%= render partial: 'shared/search_form', locals: {query: @query} %>
      </div>

      <div class='autocompletion-results'></div>
      <%= yield :header %>
    </header>

    <main class="<%= controller_name %>-parent">
      <%= yield %>
    </main>
  </div>

  <footer>
    <ul class="footer-logos">
      <li class="wcmc-footer-logo">
        <a href="http://unep-wcmc.org" title="UNEP-WCMC Website"></a>
      </li>
      <li class="iucn-footer-logo">
        <a href="http://iucn.org" title="IUCN Website"></a>
      </li>
      <li class="footer-copyright">
        <p>&copy; ProtectedPlanet 2014. All rights reserved</p>
      </li>
    </ul>


    <ul class="footer-links">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Terms of Use", terms_path %></li>
      <li class="uservoice"><a href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger>Send Feedback</a></li>
    </ul>
  </footer>

  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>

  <%= render 'shared/download_modal' %>

</body>
</html>
