<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/application/head" %>
  </head>

  <body>
    <div id="v-app">
      <main class="body-container <%= controller_name %>-parent">
        <header class="js-expandable-section">
          <%= render 'layouts/application/navbar' %>
          <%= yield :header %>
        </header>

          <%= yield %>
      </main>
    </div>

    <%= render "layouts/application/footer" %>

    <%= render 'shared/download_modal' %>

    <%= javascript_include_tag controller_name %>

    <% if Rails.env == 'production' %>
      <%= render 'shared/hotjar' %>
      <%= render 'shared/google_analytics' %>
      <%= render 'shared/mouseflow' %>
      <%= render 'shared/uservoice' %>
    <% end %>
  </body>
</html>
