<!DOCTYPE html>
<html>
<head>
  <title><%= page_title('Protected Planet') %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <main class="body-container <%= controller_name %>-parent">
    <header>
      <%= render 'layouts/application/navbar' %>
      <%= yield :header %>
    </header>

      <%= yield %>
  </main>

  <%= render "layouts/application/footer" %>

  <%= render 'shared/download_modal' %>

  <%= javascript_include_tag controller_name %>

  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</body>
</html>
