<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "controllers/#{controller_name}", 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <nav class="nav-main <%= nav_main_background_class(controller_name) %>">
      <ul>
        <li class="logo icon">
          <%= link_to "Protected Planet", root_path %>
        </li>
        <li><a href="#">Our Mandate</a></li>
        <li><a href="#">PAS Data</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Blog</a></li>
      </ul>

      <ul class="right">
        <li><a href="#">My Account</a></li>
        <li class="icon"><a href="#"><%= image_tag('icon-search.png', size: '30') %></a></li>
      </ul>
    </nav>

    <header>
      <%= yield :header %>
    </header>

    <main class="<%= controller_name %>-parent">
      <%= yield %>
    </main>
  </div>

  <footer>
    <div class="footer-inner">
      <div class="footer-logos">
        <a href="http://unep-wcmc.org" title="UNEP-WCMC Website">
          <%= image_tag 'wcmc-footer-logo@2x.png', style: 'width: 58px; height: 33px' %>
        </a>

        <a href="http://iucn.org" title="IUCN Website">
          <%= image_tag 'iucn-footer-logo@2x.png', style: 'width: 39px; height: 39px' %>
        </a>
      </div>

      <div class="footer-copyright">
        <p>&copy; ProtectedPlanet 2014. All rights reserved</p>
      </div>

      <div class="footer-links">
        <a href="#" class="btn-about">About</a>
        <%= link_to "Site Terms of Use", wcmc_terms_path %>
      </div>
    </div>
  </footer>

  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>

</body>
</html>
