<!DOCTYPE html>
<html>
<head>
  <title><%= page_title('Protected Planet') %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="navbar__element navbar__element--bigger">
        <%= link_to "protected planet", root_path %>
      </div>

      <div class="navbar__element navbar__element--right"><%= link_to 'About', '/about' %></div>
      <div class="navbar__element navbar__element--right"><%= link_to 'Updates & News', '#' %></div>
      <div class="navbar__element navbar__element--right">
        <a href="<%= resources_path %>">
          Resources <i class="fa fa-chevron-down"></i>
        </a>
      </div>
      <div class="navbar__element navbar__element--right"><%= link_to 'Terms & Conditions', '/terms-and-conditions' %></div>
      <div class="navbar__element navbar__element--right">
        <button>
          Thematic Areas <i class="fa fa-chevron-down"></i>
        </button>
      </div>

      <div class="<%= bem("navbar__element", "with-separator", "right", "bold") %>">
        <a href="<%= root_path %>" class="link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</a>
      </div>
    </nav>

    <%= yield :header %>
  </header>

  <main class="<%= controller_name %>-parent">
    <%= yield %>
  </main>

  <footer class="footer">
    <p class="footer__element">
      <i class="fa fa-copyright"></i> ProtectedPlanet 2014-2015. All rights reserved
    </p>

    <div class="<%= bem('footer__element', :right) %>">
      <a class="iucn-logo" href="http://www.iucn.org"></a>
      <a class="unepwcmc-logo" href="http://www.unep-wcmc.org"></a>
    </div>
    <div class="<%= bem('footer__element', :right, :'no-push', :'with-separator') %>">
      <a class="<%= bem('uservoice', :'no-color', :bold) %>" href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger>
        <i class="uservoice__icon fa fa-comment"></i>Send Feedback
      </a>
    </div>
  </footer>

  <%= render 'shared/download_modal' %>

  <%= javascript_include_tag controller_name %>
  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>
</body>
</html>
