<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet</title>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "controllers/#{controller_name}", 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav-main">
    <ul class="nav">
      <li><a href="#">Our Mandate</a></li>
      <li class="active"><a href="#">PAS Data</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

    <ul class="nav nav-right">
      <li><a href="#">My Account</a></li>
      
    </ul>
  </nav>

  <nav class="sub-nav">
    <ul class="nav">
      <li><a href="#">Our Mandate</a></li>
      <li class="active"><a href="#">PAS Data</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    
    <ul class="nav-right">
      <li><a href="#">My Account</a></li>
    </ul>
  </nav>

  <header>
    <%= yield :header %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="footer-inner">
      <div class="footer-logos">
        <a href="http://unep-wcmc.org" title="UNEP-WCMC Website">
          <%= image_tag 'wcmc-footer-logo@2x.png', style: 'width: 58px; height: 33px' %>
        </a>

        <a href="http://iucn.org" title="IUCN Website">
          <%= image_tag 'iucn-footer-logo@2x.png', style: 'width: 39px; height: 39px' %>
        </a>
      </div>

      <div class="footer-copyright">
        <p><strong>&copy; ProtectedPlanet 2014</strong></p>
        <p>All rights reserved</p>
      </div>

      <div class="footer-links">
        <a href="#" class="btn-about">About</a>
        <%= link_to "Site Terms of Use", wcmc_terms_path %>
      </div>
    </div>
  </footer>

  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>

</body>
</html>
