<!DOCTYPE html>
<html>
<head>
  <title><%= page_title('Protected Planet') %></title>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li class="navbar__element">
          <%= link_to "protected planet", root_path %>
        </li>
      </ul>

      <ul class="right">
        <li class="navbar__element"><%= link_to 'About', about_path %></li>
        <li class="navbar__element"><%= link_to 'Resources', 'http://blog.protectedplanet.net' %></li>
        <li class="navbar__element"><%= link_to 'UN List', 'http://blog.protectedplanet.net/post/102481051829/2014-united-nations-list-of-protected-areas' %></li>

        <li class="navbar__element">
          <%= link_to 'Search', root_path %>
        </li>
      </ul>
    </nav>

    <%= yield :header %>
  </header>

  <main class="<%= controller_name %>-parent">
    <%= yield %>
  </main>

  <footer class="footer">
    <p class="footer__element">
      <i class="fa fa-copyright"></i> ProtectedPlanet 2014-2015. All rights reserved
    </p>

    <div class="footer__element footer__element--right">
      <a class="iucn-logo" href="http://www.iucn.org"></a>
      <a class="unepwcmc-logo" href="http://www.unep-wcmc.org"></a>
    </div>
    <div class="footer__element footer__element--right footer__element--no-push footer__element--with-separator footer__element--hobbit uservoice">
      <a href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger><i class="fa fa-comment"></i>Send Feedback</a>
    </div>
  </footer>

  <%= render 'shared/download_modal' %>

  <%= javascript_include_tag controller_name %>
  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>
</body>
</html>
