<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <header>
      <nav class="nav-main">
        <ul>
          <li class="logo icon">
            <%= link_to "Protected Planet", root_path %>
          </li>
          <li><a href="#">Our Mandate</a></li>
          <li><a href="#">PAS Data</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>

        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to "My Projects", projects_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>

          <li class="search icon">
            <%= link_to "Protected Planet", root_path %>
          </li>
        </ul>
      </nav>

      <div class="search-bar">
        <%= render partial: 'shared/search_form', locals: {query: @query} %>
      </div>

      <%= yield :header %>
    </header>

    <main class="<%= controller_name %>-parent">
      <%= yield %>
    </main>
  </div>

  <footer>
    <div class="footer-inner">
      <div class="footer-logos">
        <a href="http://unep-wcmc.org" title="UNEP-WCMC Website">
          <%= image_tag 'wcmc-footer-logo@2x.png', style: 'width: 58px; height: 33px' %>
        </a>

        <a href="http://iucn.org" title="IUCN Website">
          <%= image_tag 'iucn-footer-logo@2x.png', style: 'width: 39px; height: 39px' %>
        </a>
      </div>

      <div class="footer-copyright">
        <p>&copy; ProtectedPlanet 2014. All rights reserved</p>
      </div>

      <div class="footer-links">
        <%= link_to "About", about_path %>
        <%= link_to "Site Terms of Use", wcmc_terms_path %>
      </div>
    </div>
  </footer>

  <% if Rails.env == 'production' %>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/mouseflow' %>
    <%= render 'shared/uservoice' %>
  <% end %>

  <%= render 'shared/download_modal' %>

  <ul class="download-type-dropdown">
    <li><a data-type="csv" class="btn">CSV</a></li>
    <li><a data-type="kml" class="btn">KML</a></li>
    <li><a data-type="shp" class="btn">SHP</a></li>
  </ul>

</body>
</html>
