<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/partials/head" %>
  </head>

  <body>
    <%= render "layouts/partials/topbar" %>
    <%= render "layouts/partials/hero-thematic" %>
    <%= yield %>
    <%= render "shared/carousels/thematic" %>
    <%= render "shared/ctas/live-report" %>
    <%= render "layouts/partials/footer" %>
  </body>
</html>